@font-face {
  font-family: America;
  src: url("/font-family/America.ttf");
}

body {
  width: 100%;
  height: 100%;
  touch-action: manipulation !important;
}

.head {
  text-align: center !important;
  margin: auto;
  bottom: 0.75rem;
  left: 0;
  right: 0;
  top: 0.75rem;
}

#backdiv {
  margin-top: 20px;
  margin-left: 0.8rem;
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
  float: left;
}

#rightdiv {
  margin-top: 20px;
  margin-right: 0.8rem;
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
  float: right;
}

#back {
  font-size: 1.5rem !important;
}

#back:hover {
  cursor: pointer;
}

#backdiv::after,
#rightdiv::after {
  clear: both;
}

#headdiv {
  text-align: center;
  margin: 1.3rem auto;
  vertical-align: middle;
}

#heading {
  font-size: 2.2rem !important;
  font-family: Roboto;
  font-style: normal;
  background: linear-gradient(180deg, #7c49f6 0%, #e55abd 47.92%, #fedf67 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media only screen and (max-width: 500px) {
  #backdiv,
  #rightdiv {
    padding: 0.15rem 0.4rem;
  }

  #back {
    font-size: 1rem;
  }

  #headdiv {
    text-align: center;
    margin: 0.7rem auto;
  }
}

.videorow {
  width: 100% !important;
  height: auto !important;
  margin: auto 0.25rem !important;
  top: 13% !important;
  padding-bottom: 16% !important;
}

.videodiv {
  text-align: center !important;
  margin: 0.75rem auto !important;
  overflow: hidden !important;
  vertical-align: middle !important;
}

.myvideo {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.myvideo:hover {
  cursor: pointer !important;
}

.videoplay {
  width: 30% !important;
  height: 30% !important;
  margin-top: 28% !important;
  margin-right: 1% !important;
}

.videoplay:hover {
  cursor: pointer;
}

.videodots {
  /* width:  !important;
    height:  !important; */
  float: right !important;
  margin-top: 8% !important;
  margin-right: 30% !important;
  font-size: 5rem !important;
}

.videodots:hover {
  cursor: pointer !important;
}

.play {
  position: absolute;
  text-align: center;
  vertical-align: middle !important;
  margin: auto;
  padding: 50% auto;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.threedots {
  position: absolute;
  text-align: right;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* START POPUP FOR UPLOADING */

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events:none;
}

#overlay.active{
  opacity:1;
  transition: 200ms ease-in-out;
  pointer-events: all;
}

.popup-uploading {
  position: fixed;
  bottom: 57px;
  z-index:10;
  background-color:#fff;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transform: scale(0);
}

.popup-uploading.active{
  position: fixed;
  bottom: 57px;
  z-index:10;
  background-color:#fff;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.popup-header{
  padding:3% 5% 5%;
  font-size:1.5rem;
  display:flex;
  justify-content: space-between;
}

.close-button {
  font-size:1.7rem;
  font-weight:bold;
}

.popup-body{
  padding:5%;
  font-size: 2rem;
}

.options{
  margin: 0% 20% 10%;
  display: flex;
  justify-content: space-between;
}

/* END POPUP FOR UPLOADING */

/* START POPUP FOR PLAY OPTIONS */

.popup-play{
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  z-index: 10;
  background-color: #fff;
  width: 240px;
  font-weight: normal;
  font-style: normal;
  border-radius: 6px;
}
.popup-play.active{
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.play-header{
  display: flex;
  justify-content:space-between;
  font-size: 1.5rem;    
  padding: 3% 5% 0%;
  font-weight: 400;
}

.title{
  font-family: "Roboto", sans-serif;
}

.close-button-play{
  font-size:1.7rem;
  font-weight: bold;
  margin-top: -5px;
}

.play-body{
  padding: 0% 5% 2%;
}

.control{
  margin: 10px 0px;
  font-size: 1.2rem ;
}

.control i {
  margin-right: 15px ;
}

.control span{
  /* font-family: Roboto, sans-serif; */
  font-weight: 400;
}

/* END POPUP FOR PLAY OPTIONS */

@media only screen and (min-width: 750px) {
  .videodots {
    margin-top: 6% !important;
    margin-right: 15% !important;
    font-size: 10rem !important;
  }
}
