/* @font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
} */

body {
    background-color: black !important;
  }
  
  .container {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  
  .previousdiv {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .previousvideo {
    left: 50%;
    margin: 0.7rem auto;
  }
  
  .allicons:hover {
    cursor: pointer;
  }
  
  video {
    object-fit: fill;
  }
  
  .row {
    margin-top: 1.4rem;
  }
  
  .backdiv {
    width: 100%;
    text-align: left !important;
    position: absolute !important;
    left: 0 !important;
  }
  
  .back {
    color: white;
    font-size: 1.75rem;
  }
  
  .challengediv {
    width: 100%;
  }
  
  .challengeName {
    font-family: Roboto;
    font-style: normal;
    background: linear-gradient(180deg, #7c49f6 0%, #e55abd 47.92%, #fedf67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.35rem;
    margin: 0.25rem auto;
    margin-bottom: 0.25rem !important;
  }
  
  .videoRank {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 0.65rem;
    margin: 0.25rem auto;
    margin-bottom: 0rem !important;
  }
  
  .challengesubtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 0.65rem;
  }
  
  .threedots{
    position: absolute;
    right: 10px;
    width:25px;
  }
  
  .threedots img{
    width:5px
  }
  
  .infodiv {
    width: 100%;
    text-align: right !important;
  }
  
  .infodiv #three-dots{
    width: 5px;
    position: relative;
    left: 21px;
  }
  
  .myvideo {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
  }
  
  .videoelements {
    position: relative;
  }

  .activity {
    position: fixed;
    width: 50%;
    text-align: right;
    transform: translateY(-80%);
    top: 80%;
    padding: 0.2rem !important;
    right: 0.75rem;
  }
  
  .number {
    padding: 1rem !important;
    padding-right: 0.7rem !important;
    font-size: small;
    color: white;
  }
  
  .joinclashdiv {
    position: fixed;
    bottom: 16.8%;
    left: 3.2%;
  }
  
  .joinicon {
    font-size: 0.7rem;
  }
  
  .joinclashtxt {
    font-weight: bolder;
    font-size: 0.75rem;
    color: white;
  }
  
  .activityicons {
    max-width: 2rem !important;
    color: white !important;
    margin-bottom: 1.9rem;
  }
  
  .embedicons {
    position: fixed;
    bottom: 3%;
    text-align: center;
    margin: auto !important;
    width: 90%;
    left: 5% !important;
    right: 5% !important;
  }

  .videoicons {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
  }
  
  .pause {
    background-color: linear-gradient(
      180deg,
      #fee16b 0%,
      #e660b8 53.12%,
      #7749f8 100%
    );
    margin: auto 0.35rem;
    font-size: 1.3rem;
    display: none;
  }
  
  .play {
    background-color: linear-gradient(
      180deg,
      #fee16b 0%,
      #e660b8 53.12%,
      #7749f8 100%
    );
    margin: auto 0.35rem;
    font-size: 1.3rem;
  }
  
  .nextdiv {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .nextvideo {
    left: 50%;
    margin: 0.7rem auto;
  }
  
  
  /* POPUP CSS */
  
  .popup-play{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: #fff;
    width: 240px;
    font-weight: normal;
    font-style: normal;
    border-radius: 6px;
  }
  .popup-play.active{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    text-align: left;
  }
  
  .play-header{
    display: flex;
    justify-content:space-between;
    font-size: 1.5rem;    
    padding: 3% 5% 0%;
    font-weight: 400;
  }
  
  .title{
    font-family: "Roboto", sans-serif;
  }
  
  .close-button-play{
    font-size:1.7rem;
    font-weight: bold;
    margin-top: -5px;
  }
  
  .play-body{
    padding: 0% 5% 2%;
  }
  
  .control{
    margin: 10px 0px;
    font-size: 1.2rem ;
  }
  
  .control i {
    margin-right: 15px ;
  }
  
  .control span{
    /* font-family: Roboto, sans-serif; */
    font-weight: 400;
  }
  
  #overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events:none;
  }
  
  #overlay.active{
    opacity:1;
    transition: 200ms ease-in-out;
    pointer-events: all;
  }
  
  /* END POPUP FOR PLAY OPTIONS */