@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: "Roboto";
}

#backdiv{
    float: left;
    margin-top: 1em;
    font-size: 1.2em;
}

center img{
    width: 100px;
    height: 100px;
    margin: 20px;
    object-fit:contain;
}

center p{
    font-size: .9rem;
    margin-bottom: 0;
    color: #747474;
}

center p:nth-of-type(2){
    margin-bottom: revert;
}

center button{
    height: 2em;
    background: linear-gradient(81.23deg, rgb(124, 73, 246) 9.3%, rgb(255, 83, 183) 51.61%, rgb(255, 212, 88) 97.6%);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .15);
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem 1.6rem;
    width: 7em;
}

.rp1{
    font-size: .9rem;
    text-align: center;
    color:#7A7A7A;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.rp2{
    font-size: 1.5rem !important;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    background: -webkit-linear-gradient(360deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comment-header p{
    font-size: 1.2em;
}

.comment-header a{
    font-size: .9em;
    text-decoration: none;
    color: #747474;
}

video{
    background-color: black;
    border-radius: 6px;
    box-shadow: -5.03451px 5.03451px 16.7817px rgb(0 0 0 / 25%), inset 0px -45.4817px 75.8028px #000000;;
}

.overlay{
    padding: 15px;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    color: white;
}

.overlay p{
    margin-bottom: 0;
}

.overlay h2{
    font-weight: bold;
    background: -webkit-linear-gradient(360deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay div:nth-of-type(2) img{
    width: 2.5em;
    cursor: pointer;
}

@media (min-width: 280px) and (max-width: 321px){
    center img{
        width: 100px;
        height: 100px;
    }
    center button{
        font-size: .8em;
    }
    video{
        width: 250px;
        height: 250px;
    }
    .rp1{
        font-size: .8em;
    }
    .rp2{
        font-size: 1.5em !important;
    }
    .overlay{
        width: 250px;
        height: 250px;
        font-size: .75em;
    }
    .overlay div:nth-of-type(2) img{
        width: 2em;
    }
}

@media (min-width: 321px) and (max-width: 1024px){
    video{
        width: 320px;
        height: 320px;
    }
    .overlay{
        width: 320px;
        height: 320px;
        font-size: .8em;
    }
    .overlay div:nth-of-type(2) img{
        width: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .comment-header p{
        padding-left: 2.5em;
    }
    .comment-header a{
        padding-right: 2.5em;
    }
}

@media screen and (min-width: 1024px){
    .comment-header p{
        padding-left: 5em;
    }
    .comment-header a{
        padding-right: 5em;
    }
}
