<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Library | HappyClash</title>

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/BottomNavmodule/bottomnavbar.js" type="text/javascript"></script>
    
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Librarymodule/library.css">
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css"> 
    <base href="/">
</head>

<body>
    
    <div style="display: flex;">
        <div id="backdiv" style="    position: relative; bottom: 6px;">
            <img src="/img/backarrow.png" alt="" style="width: 25px; margin-bottom: 2px;">
        </div>

        <div id="headdiv">
            <h1 id="heading">Library</h1>
        </div>

        <div id="rightdiv" style="margin: auto;">
            <i onclick="console.log(this)" id="back" class="fas fa-plus"  data-target="#uploading"></i>
        </div>
    </div>

        <%let num=18;%>
        <%let count=Math.floor(num/3);%>

        <div class="row videorow">
            <%for(let i=0;i<count;i++){%>
                <div class="col-4 videodiv">
                    <div style="position: relative;">
                        <a href="/library/videomodelibrary">
                            <video class="myvideo">
                                <source src="/video/sample" type="video/mp4">
                                Video not available at the moment
                            </video>
                        </a>
                        <div style="position: absolute;top:5px;right:10px">
                         <img src="/img/threedots.png" alt="" width="4" height="15" onclick="displayPopUp(this)" data-target = "#play-options" >
                        </div>
                    </div>
                </div>
                <div class="col-4 videodiv">
                    <div style="position: relative;">
                        <a href="/library/videomodelibrary">
                            <video class="myvideo">
                                <source src="/video/sample" type="video/mp4">
                                Video not available at the moment
                            </video>
                        </a>
                        <div style="position: absolute;top:5px;right:10px">
                         <img src="/img/threedots.png" alt="" width="4" height="15" onclick="displayPopUp(this)" data-target = "#play-options">
                        </div>
                    </div>
                </div>
                <div class="col-4 videodiv">
                    <div style="position: relative;">
                        <a href="/library/videomodelibrary">
                            <video class="myvideo">
                                <source src="/video/sample" type="video/mp4">
                                Video not available at the moment
                            </video>
                        </a>
                        <div style="position: absolute;top:5px;right:10px">
                         <img src="/img/threedots.png" alt="" width="4" height="15" onclick="displayPopUp(this)" data-target = "#play-options">
                        </div>
                    </div>
                </div>
                <%}%>
                    <%if(num%3){%>
                        <%for(let i=0;i<num%3;i++){%>
                            <div class="col-4 videodiv">
                                <div class="threedots">
                                    <img src="/img/threedots.png" alt="" width="3" height="12" class="videodots" onclick="displayPopUp(this)" data-target = "#play-options">
                                </div>
                                <div class="play">
                                    <img src="/img/Play.svg" width="24" height="24" class="videoplay" onclick="playVideo(this)">
                                </div>
                                <video muted class="myvideo" onclick="window.location.href='/videomode'">
                                    <source src="/img/sample.mp4" type="video/mp4">
                                    Video not available at the moment
                                </video>
                            </div>
                        <%}%>
                    <%}%>
            </div>


            <!-- POPUP BEGINING FOR UPLOADING -->

            <div class="popup-uploading" id="uploading">
                <div class="popup-header">
                    <div class="title">Upload from: </div>
                    <div class="close-button" data-close-button > &times; </div>
                </div>
                <div class="popup-body">
                    <div class="options">
                        <div class="camera">
                            <i class="fas fa-camera" onclick="capture()"></i> 
                            <p>Camera</p>
                        </div>
                        <div class="gallery">
                            <i class="fas fa-photo-video" onclick="window.location.href='/upload'"></i>
                            <p>Gallery</p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- POPUP ENDING FOR UPLOADING -->
            
            
            <!-- POPUP BEGINING FOR PLAYING OPTIONS -->

            <div class="popup-play" id="play-options">
                <div class="play-header">
                    <div class="title">What to do: </div>
                    <div class="close-button-play" data-close-button>&times;</div>
                </div>
                <div class="play-body">
                    <div class="control" onclick="play()"> 
                        <i class="fas fa-play"></i><span>Play</span>
                    </div>
                    <div class="control" onclick="del()"> 
                        <i class="far fa-trash-alt" ></i><span>Delete</span>
                    </div>
                    <div class="control" onclick="download()"> 
                        <i class="fas fa-download" ></i><span>Save to Gallery</span>
                    </div>
                    
                    
                </div>
            </div>

            <!-- POPUP ENDING FOR PLAYING OPTIONS -->
            
            <!-- Overlay Start -->
            <div id="overlay"></div>
            <!-- Overlay end -->
            

    <%- include("../BottomNavmodule/bottomnavbar") %>

</body>
<script src="/js/Librarymodule/library.js" type="text/javascript"></script>
</html>