<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Library | HappyClash</title>

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/BottomNavmodule/bottomnavbar.js" type="text/javascript"></script>
    <script src="/js/Librarymodule/library.js" type="text/javascript"></script>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Librarymodule/library.css">
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css"> 
    <base href="/">
</head>

<body>
    
    <div class="head">
        <div id="backdiv">
            <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
        </div>

        <div id="headdiv">
            <h1 id="heading">Library</h1>
        </div>
    </div>

        <%let num=15;%>
        <%let count=Math.floor(num/3);%>

        <div class="row videorow">
            <%for(let i=0;i<count;i++){%>
                <div class="col-4 videodiv">
                    <div class="threedots">
                         <img src="/img/threedots.png" alt="" width="v>" height="15" class="videodots" onclick="displayPopUp(this)">
                    </div>
                    
                    <div class="play">
                        <img src="/img/Play.svg" width="24" height="24" class="videoplay" onclick="playVideo(this)">
                    </div>
                    <a href="/videomode">
                        <video muted class="myvideo"> 
                            <source src="/img/sample.mp4" type="video/mp4">
                        </video>
                    </a>
                </div>
                <div class="col-4 videodiv">
                    <div class="threedots">
                        <img src="/img/threedots.png" alt="" width="v>" height="15" class="videodots" onclick="displayPopUp(this)">
                    </div>
                    <div class="play">
                        <img src="/img/Play.svg" width="24" height="24" class="videoplay" onclick="playVideo(this)">
                    </div>
                    <video muted class="myvideo" onclick="window.location.href='/videomode'"> 
                        <source src="/img/sample.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-4 videodiv">
                    <div class="threedots">
                        <img src="/img/threedots.png" alt="" width="v>" height="15" class="videodots" onclick="displayPopUp(this)">
                    </div>
                    <div class="play">
                        <img src="/img/Play.svg" width="24" height="24" class="videoplay" onclick="playVideo(this)">
                    </div>
                    <video muted class="myvideo" onclick="window.location.href='/videomode'"> 
                        <source src="/img/sample.mp4" type="video/mp4">
                    </video>
                </div>
                <%}%>
                    <%if(num%3){%>
                        <%for(let i=0;i<num%3;i++){%>
                            <div class="col-4 videodiv">
                                <div class="threedots">
                                    <img src="/img/threedots.png" alt="" width="3" height="15" class="videodots" onclick="displayPopUp(this)">
                                </div>
                                <div class="play">
                                    <img src="/img/Play.svg" width="24" height="24" class="videoplay" onclick="playVideo(this)">
                                </div>
                                <video muted class="myvideo" onclick="window.location.href='/videomode'">
                                    <source src="/img/sample.mp4" type="video/mp4">
                                </video>
                            </div>
                        <%}%>
                    <%}%>
            </div>

    <%- include("../BottomNavmodule/bottomnavbar") %>

</body>

</html>