<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/2635296004.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/Librarymodule/VideoModeLibrary.js"></script>

    <link rel="stylesheet" href="/css/Librarymodule/VideoModeLibrary.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="shortcut icon" href="#">
    <title>Video Mode Library</title>
    <base href="/" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-2 backdiv"  onclick="window.location.href='/library'">
          <span class="iconify" data-inline="false" data-icon="eva:arrow-back-outline" style="color: #ffffff; font-size: 30px;"></span>
        </div>

        <div class="threedots" data-target="#play-options" onclick="optionThreeDot(this);" id="threeDot_<%= videoModel._id %>">
            <img src="/img/threedots.svg">
        </div>

        <div class="progress">
          <div class="progress-bar"></div>
        </div>

      <div class="videoelements">
        <video class="myvideo" onclick="pauseAndplayVideo()" loop>
          <source src="/video/<%= videoModel._id %>" type="video/mp4" />
        </video>

      <div class="embedicons">
        <div class="videoicons">
          <img
            src="/img/Pause.svg"
            alt=""
            width="22"
            height="22"
            class="pause allicons"
            onclick="pauseVideo()"
          />
          <img
            src="/img/Play.svg"
            alt=""
            width="22"
            height="22"
            class="play allicons"
            onclick="playVideo()"
          />
        </div>
      </div>
    </div>

    <!-- POPUP FOR VIDEO OPTIONS -->

    <div class="popup-play" id="play-options">
      <input type="text" value="" style="display: none;height: 0px;width:0px" id="optionThreeDots">
        <div class="play-header">
            <div class="title">What to do: </div>
            <div class="close-button-play" data-close-button>&times;</div>
        </div>
        <div class="play-body">
            <!-- <div class="control"> 
                <i class="fas fa-play"></i><span>Play</span>
            </div> -->
            <!-- <div class="control" onclick="del()"> 
                <i class="far fa-trash-alt"></i><span>Delete</span>
            </div> -->
            <div class="control" onclick="save()"> 
                <i class="fas fa-download"></i><span>Save to Gallery</span>
            </div>
            <a id="downloadLink" href="/" download style="height: 0px;width:0px;display: none;">
            </a> 
        </div>
    </div>

    <!-- POPUP END -->

    <!-- OVERLAY -->
    <div id="overlay"></div>
    <!-- OVERLAY END -->
  </body>

</html>
