body{
    font-family: Roboto;
}

.head {
    position:sticky;
    display:flex;
    align-items:center;
    top:0px;
    background-color:white;
    text-align: center !important;
    margin: auto;
    bottom: 0.75rem;
    left: 0;
    right: 0;
    z-index: 5;
    /* top: 0.75rem; */
}

.keyword {
    font-size: .9rem;
    color: #747474;
}

.disable{
  pointer-events: none;
  background-color: lightgrey;
}

#backdiv {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem !important;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    z-index: 4;

}

#heading {
    width: 75%;
    margin: 0.5rem 5rem 0 0;
    font-size: 2.6rem !important;
    font-family: Roboto;
    font-style: normal;
    white-space:nowrap;
    font-weight: bold;
    background: linear-gradient(90deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 10;
}

.div1{
    font-size: 1.8rem;
    margin-left: 1rem;
}
.challenge1{
    /* background-color:#228D5A;
    border: 1px solid #228D5A; */
    border-radius: 9px;
    text-align: center;
    margin:auto;
    /* width:70%; */
}

.p1{
    color: white;
    background-color: transparent;
    /* margin: 0px!important; */
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem!important;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 62px;
    width: 125px;
    box-shadow: 0px 3.79207px 14.2203px rgb(0 0 0 / 15%);
    border-radius: 9px;
    border: none;
}

.p3{
    margin: 0px!important;
    position: relative;
    font-size: 1.1rem;
    font-family: Roboto;
}

#id{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #000000;
}

video {
    border-radius: 6px;
    box-shadow: -5.03451px 5.03451px 16.7817px rgb(0 0 0 / 25%), inset 0px -45.4817px 75.8028px #000000;
}

.a1{
    color: #7A7A7A;
    font-size: 0.9rem;
    margin-left: 0.7rem;
    text-decoration: none;
}

.name{
    margin-top:0.5rem;
}

.down-arrow{
    position: absolute;
    right: 4%;
    top: -12%;
    font-size: 22px;
    cursor: pointer;
    color: #909090;
    transition: 250ms ease-in-out;
}

.upside{
    transform: rotate(180deg) !important;
    transition: 250ms ease-in-out ;
}

.overlay{
    padding: 15px;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: .6em;
}

.overlay p{
    margin-bottom: 0;
}

.overlay h2{
    font-weight: bold;
    background: -webkit-linear-gradient(269.06deg, #FEDF67 -11.43%, #FF53B7 47.34%, #7C49F6 107.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay div:nth-of-type(2) img{
    width: 2.5em;
    cursor: pointer;
}

.profile_image{
    width: 2.9rem;
}

hr{
    margin: 1rem -1rem;
    color: #DEDEDE;
    outline:auto;
}

.col-8{
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: .35rem 0 .35rem 2.5rem;
}

.container{
    padding-left:0;
}

/* Search styles start */

.removeMe {
  display: none;
}

.addMe {
  display: block;
}

.searchResults {
  box-shadow: 0px 1px 7.000000476837158px 0px #00000026;
  border-radius: 5rem;
  border-radius: 1rem;
  padding: 1rem 0 !important;
  margin-top: -10px;
  max-height: 250px;
  overflow-y: auto;
}

.searchResultsContainer {
  position: relative;
  width: 100%;
}

.searchResults-list {
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.searchResults-listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 10px;
}

.searchResults-listItem:hover {
  background-color: #008cff98;

}

.searchResults-listItem:not(:last-child) {
  margin-bottom: 7px;
}

.searchResults-listItem img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 3rem;
}

.searchResults-listItem h6 {
  font-size: 0.9rem;
  margin-top: 7px;
}

.searchResults::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.searchResults::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #434343;
  border-radius: 10px;
}

/* Handle */
.searchResults::-webkit-scrollbar-thumb {
  background: #000000; /* fallback for old browsers */ 
  background: linear-gradient(180deg, #7c49f6 35%, #e55abd 45.92%, #fedf67 71%);
  border-radius: 10px;
}

/* Loading Spinners */

.spinnerInButton {
  width: 9rem;
  height: 3rem;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(90deg, #7c49f6 35%, #e55abd 45.92%, #fedf67 71%);;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* For failed results */
.noResultsFound {
  color: #6b6a6a;
  display: block;
  text-align: center;
  margin-top: 0rem !important;
  margin-left: -12%;
  font-size: 1rem;
}

/* Search styles end */

@media only screen and (min-width:280px) and (max-width:281px) {
    .p3{
        font-size: 0.9rem !important;
    }
    .p1{
        font-size: 0.7rem !important;
    }
    .div1{
        margin-left: 0;
    }
    #play{
        font-size: 1.1rem !important;
    }
    #heading{
        font-size: 1.15rem !important;
    }
    #back{
        font-size: 1rem !important;
    }
}

@media (min-width: 320px) and (max-width: 415px){
    .p1{
        font-size: .9rem;
    }
    .p3{
        font-size: .85rem !important;
        padding-left: 10px;
    }
    .div1{
        font-size: 1.1em;
    }
    #heading{
        font-size: 1.3em !important;
    }
    #back{
        font-size: 1.1rem !important;
    }
}

@media only screen and (min-width:540px) and (max-width:768px) {
    .p1{
        font-size: 1rem !important;
    }
    #play{
        font-size: 1.5rem !important;
    }
    #heading{
        font-size: 2rem !important;
    }
    #back{
        font-size: 1.5rem !important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 321px){
    video{
        width: 250px;
    }
    .overlay{
        width: 250px;
        height: 320px;
        font-size: .4em;
    }
    .overlay div:nth-of-type(2) img{
        width: 2em;
    }
    .container{
        padding-left: 0.75rem;
    }
}

@media (min-width: 321px) and (max-width: 1024px){
    video{
        width: 320px;
        height: 320px !important;
        background-color: black;
    }
    .overlay{
        width: 320px;
        height: 320px;
    }
    .overlay div:nth-of-type(2) img{
        width: 2em;
    }
}

@media (min-width: 540px) and (max-width: 541px){
    .overlay{
        font-size: .5em;
    }
}

@media (min-width: 568px) and (max-width: 1024px){
    .overlay{
        font-size: .5em;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    #heading{
        margin: 0.5rem 0 0 -9rem;
    }
    hr{
        margin:1rem -5%;
    }
}

@media only screen and (max-width:280px){
    .col-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        padding: .35rem 0 .35rem 4.5rem;
    }

    .container{
        padding-left: 0.5rem;
    }
}

@media only screen and (min-width: 1025px){
    #heading {
        font-size: 1.6rem !important;
    }

    .down-arrow {
        right: 4%;
    }
}

@media only screen and (min-width:320px) and (max-width:350px){
    .down-arrow{
        right: -8%;
    }
}