@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.head {
    position: fixed;
    z-index: 1;
    top:0px !important;
    background-color:white;
    margin: auto;
    /* margin-top:0px !important; */
    left: 0;
    right: 0;
    /* top: 0.75rem; */
}

#backdiv {
    margin-top: 1.25rem!important;
    margin-left: 1rem !important;
    /* padding: 0.2rem 0.4rem; */
    background-color: white;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem !important;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    margin: 0.8rem;
    margin-bottom: 0.5rem !important;
}

#heading {
    width: 65%;
    margin: 17px 0px 0px 50px;
    font-size: 1.6rem !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    background: linear-gradient(90deg, #7C49F6 0%, #E55ABD 16.92%, #FEDF67 33%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.profile img{
    width: 120px;
    /* margin: 1.5em; */
    margin: auto;
}

h6{
    font-size: .95em;
}

.p1{
    font-size: .92em;
    margin-bottom: 0;
    color: #6A6A6A;
}

.mobile-view{
    margin-top: 24px;
}

.career{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customize{
    padding: 7% 5% 5%;    
}

@media only screen and (min-width: 900px) and (max-width: 1000px){
    #heading{
        font-size: 2.25rem !important;
        width: 65%;
        margin: 20px 0px 0px 55px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        background: linear-gradient(90deg, #7C49F6 0%, #E55ABD 10.92%, #FEDF67 60%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .desktop-view-left{
        margin-left: 250px;
    }
    .desktop-bottom{
        margin-left: 240px;
    }
    #backdiv {
        margin-top: 2rem!important;
        margin-left: 1rem !important;
        background-color: white;
        border-radius: 0.5rem;
        float: left;
    }
    
    
}

@media (max-width: 410px){
    .p1{
        font-size: .8em;
    }
}

@media (max-width: 320px){
    .p1{
        font-size: .69em;
    }
    .mobile-view{
        margin-top: 60px;
    }

}

@media (max-width: 280px){
    .p1{
        font-size: .63em;
    }
    .mobile-view{
        margin-top: 50px;
    }
}


@media only screen and (min-width: 281px) and (max-width: 320px){

    #backdiv {
        margin-top: 0.8rem!important;
        margin-left: 0rem !important;
        padding: 0.2rem 0.4rem;
        background-color: white;
        border-radius: 0.5rem;
        float: left;
    }

    .mobile-view {
        margin-top: 31px;
    }    

    #heading {
        width: 65%;
        margin: 0px 0px 0px 40px;
        font-size: 1.6rem !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        background: linear-gradient(90deg, #7C49F6 0%, #E55ABD 10.92%, #FEDF67 55%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@media only screen and ( max-width:280px){

    #backdiv {
        margin-top: 1rem!important;
        margin-left: 0rem !important;
        padding: 0.2rem 0.4rem;
        background-color: white;
        border-radius: 0.5rem;
        float: left;
    }

    .mobile-view {
        margin-top: 19px;
    }

    #heading {
        width: 65%;
        margin: 0px 0px 0px -15px;
        font-size: 2rem !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: bolder;
        background: linear-gradient(90deg, #7C49F6 13%, #E55ABD 68.92%, #FEDF67 90%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}


@media only screen and (min-width: 1280px) {
    #headdiv {
        margin: -0.5rem;
        margin-bottom: 0.5rem !important;
    }

    #heading {

        margin: 28px 0px 0px 6rem;
        background: linear-gradient(52deg, #7C49F6 3%, #E55ABD 6.92%, #FEDF67 13%);
        color: transparent;
        font-size: 1.6rem;
        -webkit-background-clip: text;
        background-clip: text;
    }
    #backdiv{
        margin-top:1.5rem !important;
    }
} 