#backdiv {
  margin-top: 1.4rem !important;
  margin-left: 1rem !important;
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
  float: left;
}

.container {
  position: relative;
  padding-top: 20px;
  margin-bottom: 60px;
}

.btn-danger {
  position: relative;
  left: 45%;
  width: 10em;
  height: 1.5em;
  padding: 1%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 9px;
  /* identical to box height */
  text-align: center;
}
.profileImg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.p1 {
  position: relative;
  width: 128px;
  height: 128px;
  top: 10px;
}
.cont {
  position: relative;
  top: 30px;
}
.btn {
  margin: 0px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.sub {
  width: 7rem !important;
  height: 2rem;
  text-align: center;
  /* font-size: 5rem !important; */
  margin-top: 0.5rem;
  /* padding: 0.22rem 3.5rem; */
  font-size: 0.8rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(
    81.23deg,
    #7c49f6 9.3%,
    #ff53b7 51.61%,
    #ffd458 97.6%
  );
  color: white !important;
  border-radius: 0.25rem !important;
  border: none !important;
  outline: none;
}
#remove,
#change {
  position: relative;
  bottom: 10px;
}
.form {
  margin-top: 30px;
}
label {
  margin-top: 10px;
  margin-bottom: 15px;
}
.save {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 35%;

  margin-left: auto;
  margin-right: auto;
  width: 6rem !important;
  height: 2rem;
}
