#backdiv {
  margin-top: 1rem !important;
  margin-left: 0.2rem !important;
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 3;
  position: absolute;
}

.container {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
}

.btn-danger {
  position: absolute;
  right: 10px;
  height: auto;
  padding: 0.175rem 0.55rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.688rem;
  border-radius: 4px;
  text-align: center;
}
.profileImg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.p1 {
  position: relative;
  width: 120px;
  height: auto;
  top: 10px;
}
.cont {
  position: relative;
  top: 30px;
}
.btn {
  margin: 0px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.sub {
  /* width: 7rem !important; */
  display: flex;
  justify-content:center;
  align-items: center;
  /* height: 2rem; */
  text-align: center;
  /* font-size: 5rem !important; */
  /* margin-top: 0.5rem; */
  padding: 0.20rem 1.5rem;
  font-size: 0.8rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(
    81.23deg,
    #7c49f6 9.3%,
    #ff53b7 51.61%,
    #ffd458 97.6%
  );
  color: white !important;
  border-radius: 4px !important;
  border: none !important;
  outline: none;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
}
.btn-names{
  font-size: 0.8rem;
}
.formi {
  margin-top: 30px;
}
label {
  margin-top: 10px;
  margin-bottom: 15px;
}
.save {
  font-size: 1rem;
  font-weight: bold;
  
  width: 6rem !important;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  
}

p{
  margin: 0 auto;
}


.action-btns{
  display: flex;
  justify-content:space-evenly;
  margin: 40px auto -40px;
}

@media only screen and (max-width: 280px){
  .btn-danger {
    width:50px;
    height: auto;
    padding: 0.175rem 0.25rem;
    font-size: 0.6rem;
}
}