<head>
    <link rel="stylesheet" href="/css/bottomnavbar.css"> 
</head>

<footer class="fixed-bottom" onscroll="fixHeight()">
    <div class="row bottomnav">
        <div class="col navicons">
            <img src="https://img.icons8.com/fluent-systems-regular/24/000000/home.png" class="bottomicons"/>
        </div>
        <div class="col navicons">
            <img src="https://img.icons8.com/ios-glyphs/50/000000/search.png" class="bottomicons"/>
        </div>
        <div class="col navicons naviconslg">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="60" height="60"
            viewBox="0 0 172 172"
            style=" fill:#000000;" class="bottomiconslg"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M86,163.4c-42.67893,0 -77.4,-34.72107 -77.4,-77.4c0,-42.67893 34.72107,-77.4 77.4,-77.4c42.67893,0 77.4,34.72107 77.4,77.4c0,42.67893 -34.72107,77.4 -77.4,77.4z" fill="#91ccfb"></path><path d="M86,11.46667c41.09653,0 74.53333,33.4368 74.53333,74.53333c0,41.09653 -33.4368,74.53333 -74.53333,74.53333c-41.09653,0 -74.53333,-33.4368 -74.53333,-74.53333c0,-41.09653 33.4368,-74.53333 74.53333,-74.53333M86,5.73333c-44.33013,0 -80.26667,35.93653 -80.26667,80.26667c0,44.33013 35.93653,80.26667 80.26667,80.26667c44.33013,0 80.26667,-35.93653 80.26667,-80.26667c0,-44.33013 -35.93653,-80.26667 -80.26667,-80.26667z" fill="#5e9c76"></path><path d="M45.86667,80.26667h80.26667v11.46667h-80.26667z" fill="#ffffff"></path><path d="M91.73333,45.86667l0,80.26667h-11.46667l0,-80.26667z" fill="#ffffff"></path></g></g></svg>
        </div>
        <div class="col navicons">
            <img src="https://img.icons8.com/android/24/000000/add-image.png" class="bottomicons"/>
        </div>
        <div class="col navicons">
            <img src="https://img.icons8.com/cotton/64/000000/person-male--v2.png" class="bottomicons"/>
        </div>
    </div>
</footer>

