<div data-friends class="suggested-friends col"  onclick="select(this)">
    <img src="/img/profile3.png" alt="profile" class="suggested-profile">
    <img src="/img/blue-tick.png" alt="" class="selected-profile" data-img = '.selected-profile' >
    <p data-name class="user-name">User name</p> 
</div>

