body{
  font-family: Roboto;
}

hr{
  margin: 1rem -0.75rem;
  color: #DEDEDE;
  outline: auto;
}

.head {
  position: fixed;
  z-index: 1;
  top: 0px !important;
  background-color: white;
  text-align: center !important;
  margin: auto;
  /* margin-top:0px !important; */
  left: 0;
  right: 0;
  /* top: 0.75rem; */
}

#backdiv {
  margin-top: 1.2rem !important;
  margin-left: 0.4rem !important;
  padding: 0.2rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
  float: left;
}

#back {
  font-size: 1.5rem !important;
}

#backdiv::after {
  clear: both;
}

#headdiv {
  text-align: center;
  /* margin:0px!important; */
  margin: 1.3rem auto;
  vertical-align: middle;
  margin-bottom: 0.5rem !important;
}

#heading {
  width: 65%;
  margin: 0.95rem auto;
  font-size: 1.6rem !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  background: linear-gradient(90deg, #7c49f6 35%, #e55abd 45.92%, #fedf67 71%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.choose-friends input{
  border: none;
  height: 2rem;
  margin: 1.25rem auto;
  padding: 0 1rem;
  border-radius: 5rem;
  box-shadow: 0px 1px 7.000000476837158px 0px #00000026;
  /* padding: 10px; */
  font-size: 0.85rem;
  background-color: white;
  flex-wrap: nowrap;
  color: #7b7b7b;
}

.choose-friends input:focus{
  outline: none;
  box-shadow: 0px 1px 7.000000476837158px 0px #00000026;
}

.choose-friends button{
    border: none;
    background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
    color: white;
    padding: 0rem 0.55rem 0.1rem;
    font-size: smaller;
    border-radius: 4px;
    box-shadow: 0px 1px 7px rgb(0 0 0 / 15%);
}

/* POPUP TO SEE ALL FOLOWERS */
.popup{
  width:500px;
  height: 400px;
  max-width:80%;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius:5px;
  background-color:white;
  z-index:10;
  overflow: hidden;
}

.popup.active{
  transform:translate(-50%, -50%) scale(1);
}

.popup-header{
  /* border-bottom:2px solid black; */
  padding: 10px 15px;
}

.close-button{
  border:none;
  position:absolute;
  right: 0;
  top: 0;
  /* padding:5px; */
  display: inline-block;
  background:none;
  outline:none;
  font-size:1.5rem;
  font-weight:bold;
}

.popup-body{
  padding: 10px 15px;
  font-size: 1.2rem;
}

.all-selected{
  background:none;
  border: none;
  outline:none;
  font-size: 0.7rem;
  background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  color: #fff;
  margin-left: 9px;
  font-weight: 400;
}

/* END OF THIS POPUP */

/* sTYLING FOR OVERLAY */
#overlay{
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  position:fixed;
  opacity:0; 
  top:0;
  left:0;
  right:0;
  bottom:0;
  pointer-events:none;
  z-index: 5;
}

#overlay.active{
  opacity:1;
  pointer-events: all;
}

/* END OF OVERLAY */
.followers{
  padding: 0% 8% 8%;
}

p{
  margin-top:-15px;
}

.see-all{
  position:absolute;
  top: 229px;
  right: 20px;
  font-size:0.8rem;
  font-family: Roboto;
  color:#7A7A7A;
  cursor:pointer;
}

.select-followers{
  display:flex;
  font-family: Roboto;
  margin: 18px 9px;
}

.follower-title{
  font-weight: 400;
}

.select-all{
  background:none;
  border: none;
  outline:none;
  font-size: 0.7rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  margin-left: 9px;
  font-weight: 400;
}

.all-selected{
  background:none;
  border: none;
  outline:none;
  font-size: 0.7rem;
  background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  color: #fff;
  margin-left: 9px;
  font-weight: 400;
}

.user-info{
  margin-top: 18px;
  font-size:0.9rem;
}

.user-info .user-email{
  margin-top:-15px;
  font-size:0.8rem;
  color:#6A6A6A;
}

.selected{
  display:flex;
  opacity: 0;
  justify-content:center;
  align-items:center;
}

.selected.select{
  opacity:1;
}

.suggested-profile{
  /* margin-top: 10px; */
  /* margin-top: -10px; */
  width:40px;
  height:40px;
  z-index: 1;
}

.continue-btn{
  text-align:center;
}

.continue-btn button{
    outline: none;
    border: none;
    background: none;
    background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: smaller;
    padding: 0.2rem 0.3rem;
    width: 6rem;
    height: 1.8rem;
    margin-top: -15px;
    border-radius: 6px;
    box-shadow: 0px 1px 7px rgb(0 0 0 / 15%);
}

.headingsRow{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
}