<footer class="fixed-bottom bottomnav">
    <div class="row">
        <div class="col navicons" id="homefeed">
            <%if(url == '/homefeed'){%>
                <span id="currentpage">.</span>
                <span class="bottomlinks">
                    <a href="/homefeed"><img src="/img/Colored-home.png"
                    class="bottomicons" /></a>
                </span>   
            <%}else{%>
                <span class="bottomlinks">
                    <a href="/homefeed"><img src="https://img.icons8.com/fluent-systems-regular/24/000000/home.png"
                    class="bottomicons" /></a>
                </span>
            <%}%>
            
        </div>
        <div class="col navicons" id="search">
            <%if(url == '/search'){%>
                <span id="currentpage">.</span>    
            <%}%>
            <span class="bottomlinks">
                <a href=""><img src="https://img.icons8.com/ios-glyphs/50/000000/search.png" class="bottomicons" /></a>
            </span>
            
        </div>
        <div class="col navicons hcl">
            <a href="/">
                <img src="/img/logo-happy.svg" alt="" width="60" height="60" class="bottomiconslg">
            </a>
        </div>
        <div class="col navicons" id="library">
            <%if(url == '/library'){%>
                <span id="currentpage">.</span>    
                <span class="bottomlinks">
                    <a href="/library"><img src="/img/Colored-library.png" class="bottomicons" /></a>
                </span>
            <%}else{%>
                <span class="bottomlinks">
                    <a href="/library"><img src="/img/Library.png" class="bottomicons" /></a>
                </span>
            <%}%>
        </div>
        <div class="col navicons" id="notifs">
            <%if(url == '/profile'){%>
                <span id="currentpage">.</span>   
                <span class="bottomlinks">
                    <a href="/profile"><img src="/img/Colored-notifs.png" class="bottomicons" /></a>
                </span> 
            <%}else{%>
                <span class="bottomlinks">
                    <a href="/profile"><img src="/img/Notifs.png" class="bottomicons" /></a>
                </span>    
            <%}%> 
            
            <%n = 3%>
            <%if(n > 0) {%>
                <span id="noOfNotifs"><%=n%></span>    
            <%}%>
        </div>
    </div>
</footer>