<footer class="fixed-bottom bottomnav">
    <div class="row">
        <div class="col navicons">
            <a href="/homefeed"><img src="https://img.icons8.com/fluent-systems-regular/24/000000/home.png"
                    class="bottomicons" /></a>
        </div>
        <div class="col navicons">
            <a href=""><img src="https://img.icons8.com/ios-glyphs/50/000000/search.png" class="bottomicons" /></a>
        </div>
        <div class="col navicons">
            <a href="/homefeed">
                <img src="/img/happyclash_logo.svg" alt="" width="60" height="60" class="bottomiconslg">
            </a>
        </div>
        <div class="col navicons">
            <a href="/library"><img src="https://img.icons8.com/android/24/000000/add-image.png"
                    class="bottomicons" /></a>
        </div>
        <div class="col navicons">
            <a href="/profile"><img src="https://img.icons8.com/cotton/64/000000/person-male--v2.png" class="bottomicons" /></a>
        </div>
    </div>
</footer>