<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/">Start</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/videomode">Video Mode</a>
    <a href="/drive">Drive</a>
    <a href="/homefeed">homefeed</a>
    <a href="/library">Library</a>
    <a href="/profile">Profile</a>
    <a href="/upload">Upload</a>
    <a href="/challenge">Challenge</a>
    <a href="/clashDetails">Clash Details</a>
</body>
</html>