<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search keyword</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/Homemodule/songs.css">

    <!-- Custom js -->
    <script src="/js/Homemodule/songs.js"></script>
</head>

<body>
    <div class="head">
        <div id="backdiv" onclick="window.location.href='/'">
            <img src="/img/backarrow.png" alt="" style="width: 25px; margin-bottom: 2px;">
        </div>

        <div id="headdiv">
            <h1 id="heading">Songs</h1>
        </div>
    </div>

    <div class="container" style="margin-bottom: 5em; margin-top: .5em;">
        <div class="div1">
            <h4 class="play" style="margin-left: -18px;">Top clashes for songs:</h4>
        </div>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn" onclick="challenge(this)" style="background: #67A3A3;">Song Challenge</p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Theresa Webb</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
                <p class="p2">Clash till: 7 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn" onclick="challenge(this)" style="background: #66C07F;">
                    Old School Song Challenge
                </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Jenny Wilson</h6>
                <p class="p2">Created on: 5 March 2021</p>
                <p class="p2">Participants: 39</p>
                <p class="p2">Clash till: 10 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row align-items-center" style="background: #3C95E799; height: 5rem; padding-left: 17px; background-image: url(/img/adimg.png);">
            <div class="col d-flex justify-content-around">
                <h1 style="color: white; font-size:2.3rem;"><b> ShopVille </b></h1>
            </div>
            <div class="col d-flex justify-content-around">
                <button class="btn-sm" style="background-color: white; border: none;" onclick="addButton(this)">
                    <b> SHOP NOW </b>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn" onclick="challenge(this)" style="background: #9F7CDE;">
                    Pop Song Challenge
                </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Arlene McCoy</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
                <p class="p2">Clash till: 7 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn" onclick="challenge(this)" style="background: #58A6E4;">
                    Old School Song Challenge
                </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Arlene McCoy</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
                <p class="p2">Clash till: 7 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn" onclick="challenge(this)" style="background: #FF8080;">
                    Pop Song Challenge
                </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Arlene McCoy</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
                <p class="p2">Clash till: 7 April 2021</p>
            </div>
        </div>
    </div>

    <%- include("../BottomNavmodule/bottomnavbar") %>
</body>

</html>