<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Homemodule/start.css"> 

    <title>Get Started | HappyClash</title>
    <base href="/">
</head>
<body>

    <div class="formpage">

        <div class="pageimgsdiv">
            <img src="/img/StartPage Imgs.svg" alt="" class="pageimgs">
        </div>
        
        <div id="headdiv">
            <h3 id="heading">
                <span class="firsthead">
                    Let's get
                </span> 
                <span class="secondhead">
                    started!
                </span>
            </h3>
        </div>

        <div id="subheaddiv">
            <h6 id="subheading">Clash your friends for fun</h6>
        </div>
    
        <div class="formbuttondiv">
            <div class="formbutton">
                <button onclick="window.location.href='/auth/signup'" class="btn btn-dark submit" type="submit">Sign Up</button>
            </div>
            
            <div class="formbutton">
                <button onclick="window.location.href='/auth/login'" class="btn btn-dark submit" type="submit">Login</button>
            </div>
        </div>
            
    </div>

    </body>
</html>
