@import url("./background.css");

.formpage {
    text-align: center;
    margin: auto;
}

#backdiv {
    margin-left: 0.8rem;
    padding: 0.2rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    text-align: center;
    margin: 1.3rem auto;
}

#heading {
    width: 65%;
    margin: auto;
    font-size: 2.6rem;
    font-weight: bolder;
}

#subheaddiv {
    margin: 1rem auto;
}

#subheading {
    font-weight: bolder;
}

.form-group {
    text-align: center;
    margin: 3rem auto;
    width: 100%;
}

@media screen and (min-height:950px) {
    .form-group {
        margin: 6.8rem auto;
    }
}

.input-group {
    text-align: center;
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    border-radius: 5rem;
    width: 60%;
    overflow: auto;
    background-color: rgb(241, 239, 239);
}

.errordiv {
    text-align: left;
}

.error {
    width: 60%;
    text-align: center;
    margin: 1rem auto;
}

@media only screen and (max-width:500px) {
    .input-group {
        margin: 1rem auto;
        padding: 0.5rem 0.75rem;
        border-radius: 5rem;
        width: 77%;
        overflow: auto;
        background-color: rgb(241, 239, 239);
    }

    .error {
        width: 70%;
        text-align: center;
        margin: 1rem auto;
    }
}

.input-group:focus {
    outline: none;
}

.input-group-addon {
    margin: 0.4rem 0.8rem;
    vertical-align: baseline;
}

.form-control {
    width: 80%;
    margin: auto;
    background-color: rgb(241, 239, 239);
    outline: none;
    border: none;
}

.form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    outline: none;
    border: none;
    background-color: rgb(241, 239, 239);
}

.formbutton {
    text-align: center;
    margin: auto;
}

.formbutton:focus {
    outline: none;
}

#submit {
    padding: 0.35rem 3.5rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
}

#submit:focus {
    outline: none;
}

#submit:hover {
    cursor: pointer;
}

.altOptions {
    text-align: center;
    margin: auto;
    width: 50%;
}

.pageicons {
    max-width: 1.5rem;
    margin: 1rem 0.5rem;
}

.otherlink {
    font-weight: bolder;
}

.otherlink:hover {
    text-decoration: none;
}

.otheroption {
    margin: 0.5rem auto;
}

