@import url("./background.css");

.formpage {
    overflow: visible;
    margin: 4rem auto;
    text-align: center;
    z-index: 2;
}

#backdiv {
    padding: 0.2rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    text-align: center;
    margin: 1.3rem auto;
}

#heading {
    width: 65%;
    margin: auto;
    font-size: 2.6rem;
    font-weight: bolder;
}

#subheaddiv {
    margin: 1rem auto;
}

#subheading {
    font-weight: bolder;
}

.fieldicons {
    float: left;
    margin: 0.8rem;
}

.infodiv {
    text-align: left;
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    border-radius: 5rem;
    width: 77%;
    background-color: white;
    overflow: auto;
    background-color: rgb(241, 239, 239);
}

.info {
    margin: 0.5rem 0;
    border-style: none;
    float: left;
    background-color: rgb(241, 239, 239);
}

.info::after {
    clear: both;
}

.info:focus {
    outline: none;
}

.formbutton {
    text-align: center;
    margin: 1.5rem auto;
}

.formbutton:focus {
    outline: none;
}

#submit {
    padding: 0.35rem 3.5rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
}

#submit:focus {
    outline: none;
}

.altOptions {
    text-align: center;
    margin: auto;
    width: 50%;
}

.pageicons {
    max-width: 1.5rem;
    margin: 1rem 0.5rem;
}

.otherlink {
    font-weight: bolder;
}

.otherlink:hover {
    text-decoration: none;
}

.otheroption {
    margin: 0.5rem auto;
}

