body {
    background-color: black;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
} 

video {
    object-fit: fill;
}

.row {
    margin-top: 1.4rem;
}

.backdiv {
    text-align: left !important;
}

.back {
    color: white;
    font-size: 2rem;
}

.challengeName {
    color: white;
    font-size: 0.8rem;
}

.challengesubtitle {
    color: white;
    font-size: 0.6rem;
}

.profilediv {
    text-align: right !important;
}

.profileicon {
    font-size: 2rem;
    color: white;
}

.myvideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    vertical-align: middle;
}

.videoelements { 
    position: relative;
}

.activity {
    position: absolute;
    width: 100%;
    text-align: right;
    transform: translateY(-50%);
    top: 50%;
    padding: 0.4rem;
    margin-top: 23rem;
}

.activityicons {
    font-size: 2rem;
    color: white;
    margin-bottom: 1.7rem;
}

.progress{
    height: 2px !important;
    margin-top: 1rem;
}

.videoicons {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}

.pause {
    margin: auto 0.5rem;
    font-size: 1.3rem;
}

.play {
    margin: auto 0.5rem;
    font-size: 1.3rem;
}
