@import url("./background.css");

.formpage {
    margin: auto;
    text-align: center;
}

.formbutton {
    text-align: center;
    margin: 1.5rem auto;
}

.formbutton:focus {
    outline: none;
}

#bgpics {
    margin: 1.4rem auto;
    max-width: 24rem;
    right: -1.5rem;
    z-index: 0;
    position: absolute;
}

#logo {
    margin: 11.5rem auto;
    margin-bottom: 6.8rem;
    z-index: 1;
    font-size: 6rem;
    color: black;
}

#heading {
    width: 65%;
    margin: auto;
    font-size: 2.6rem;
    font-weight: bolder;
    z-index: 2;
}

.submit {
    padding: 0.35rem 3.5rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
}

.submit:focus {
    outline: none;
}
