body {
    background-color: black;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
} 

.row {
    margin-top: 4rem;
}

.backdiv {
    text-align: left !important;
    padding-left: 5rem !important;
}

.back {
    color: white;
    font-size: 9rem;
}

.challengeName {
    color: white;
    font-size: 5rem;
}

.challengesubtitle {
    color: white;
}

.profilediv {
    text-align: right !important;
    padding-right: 5rem !important;
}

.profileicon {
    font-size: 9rem;
    color: white;
}

.myvideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    vertical-align: middle;
}

.videoelements { 
    position: relative;
}

.activity {
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 4rem;
    margin-top: 70rem;
}

.activityicons {
    font-size: 8rem;
    color: white;
    margin-bottom: 7rem;
}




