@import url("./common.css");

.alert {
    margin: auto;
    margin-top: 3rem;
    text-align: right;
    width: 50% !important;
}

.errmessage {
    margin: auto;
}

.close {
    float: right;
}

.close:after {
    clear: both;
}