#search{
    padding-top: 2%;
    padding-left: 30%;
}
.ch{
    /* margin-top: 5%; */
}

.navbar {
    overflow: hidden;
    background-color:gray;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* height: 40px; */
    /* margin-top: 40px; */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .header img {
    float: left !important;
    width: 50px!important;
    height: 50px;
    background: #555;
  }
  
  .header h2 {
    position: relative;
    top: 18px;
    left: 10px;
  }


  

  #bor{
    margin-left: 80px;
    width:200px;
    box-shadow: gray;
  }


