@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}

body {
    background-color: black;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
} 

.previousdiv {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

.previousvideo {
    left: 50%;
    margin: 0.7rem auto;
}

video {
    object-fit: fill;
}

.row {
    margin-top: 1.4rem;
}

.backdiv {
    text-align: left !important;
}

.back {
    color: white;
    font-size: 1.75rem;
}

.challengeName {
    font-family: America;
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: auto !important;
}

.challengesubtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 0.8rem;
}

.infodiv {
    text-align: right !important;
}

svg.infoicon {
    margin-top: 0 !important;
    max-width: 1.3rem !important;
    padding-bottom: 0.6rem !important;
    color: white;
}

.myvideo {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    vertical-align: middle;
}

.videoelements { 
    position: relative;
}

.activity {
    position: fixed;
    width: 50%;
    text-align: right;
    transform: translateY(-80%);
    top: 80%;
    padding: 0.2rem !important;
    right: 0.75rem;
}

.number {
    padding: 1rem !important;
    padding-right: 0.4rem !important;
    font-size: small;
    color: white;
}

.joinclashdiv {
    position: fixed;
    bottom: 16.8%;
    left: 3.2%;
}

.joinicon {
    font-size: 0.7rem;
}

.joinclashtxt {
    font-weight: bolder;
    font-size: 0.75rem;
    color: white;
}

.activityicons {
    max-width: 2rem !important;
    color: white !important;
    margin-bottom: 1.9rem;
}

.embedicons {
    position: fixed;
    bottom: 3%;
    text-align: center;
    margin: auto;
    width: 90%;
}

.progress{
    height: 2px !important;
    margin-top: 1rem;
}

.videoicons {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}

.pause {
    background-color: linear-gradient(180deg, #FEE16B 0%, #E660B8 53.12%, #7749F8 100%);
    margin: auto 0.35rem;
    font-size: 1.3rem;
}

.play {
    background-color: linear-gradient(180deg, #FEE16B 0%, #E660B8 53.12%, #7749F8 100%);
    margin: auto 0.35rem;
    font-size: 1.3rem;
}

.nextdiv {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.nextvideo {
    left: 50%;
    margin: 0.7rem auto;
}
