<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>congratulations</title>

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/Careermodule/congratulations.css">

    <!-- Custom js -->
    <script src="/js/Careermodule/congratulations.js"></script>
</head>

<body>
    <div class="head">
        <div id="backdiv">
            <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
        </div>

        <div id="headdiv" style="margin-bottom: 0;">
            <h1 id="heading">Results</h1>
        </div>
        <div>
            <p class="text">"Song Challenge" has ended.</p>
        </div>
        <hr>
    </div>
    <div class="container" style="margin-bottom: 5em;">
        <div class="row">
            <div class="col">
                <div class="div1" align='center'>
                    <p id="play" style="margin-bottom: 0; margin-top: 0;">congratulations!</p>
                </div>
                <div align='center'>
                    <p class="text">You are the <span style="font-weight: bold;">winner</span> of "Song challenge"
                    </p>
                </div>
                <div class="wining-song">
                    <div class="crown">
                        <svg width="38" height="36" viewBox="0 0 38 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.0023 7.60765C11.5777 8.43015 11.0817 10.2811 11.9042 11.7057C12.4667 12.68 13.5089 13.2191 14.5703 13.1975L14.9626 19.7549L9.34354 19.2105C9.59025 18.4318 9.50908 17.5572 9.07408 16.8038C8.25158 15.3792 6.40062 14.8832 4.97601 15.7057C3.55139 16.5282 3.05543 18.3792 3.87793 19.8038C4.55193 20.9712 5.91437 21.479 7.16708 21.1888L13.842 29.0621L16.342 33.3923L33.6625 23.3923L31.1625 19.0621L27.6815 9.34478C28.5592 8.40502 28.8006 6.97121 28.1266 5.8038C27.3041 4.37919 25.4532 3.88323 24.0286 4.70573C22.604 5.52823 22.108 7.37919 22.9305 8.8038C23.366 9.55811 24.0823 10.0648 24.8792 10.241L22.5411 15.3794L17.0593 11.7605C17.3387 11.3016 17.4899 10.776 17.4972 10.2388C17.5044 9.70145 17.3674 9.17205 17.1004 8.70573C16.2779 7.28112 14.4269 6.78515 13.0023 7.60765ZM14.0023 9.3397C14.4899 9.0582 15.0873 9.21902 15.3683 9.70573C15.6498 10.1933 15.489 10.7908 15.0023 11.0718C14.5147 11.3533 13.9173 11.1924 13.6363 10.7057C13.3548 10.2182 13.5156 9.6207 14.0023 9.3397ZM5.97601 17.4378C6.46358 17.1563 7.06103 17.3171 7.34203 17.8038C7.62353 18.2914 7.46271 18.8888 6.97601 19.1698C6.48843 19.4513 5.89098 19.2905 5.60998 18.8038C5.32848 18.3162 5.4893 17.7188 5.97601 17.4378ZM25.0286 6.43778C25.5161 6.15628 26.1136 6.3171 26.3946 6.8038C26.6761 7.29138 26.5153 7.88883 26.0286 8.16983C25.541 8.45133 24.9435 8.29051 24.6625 7.8038C24.381 7.31623 24.5419 6.71878 25.0286 6.43778ZM16.6273 13.8863L22.4008 17.6983L23.8873 17.2731L26.4359 11.6874L29.0924 19.1026L14.9121 27.2896L9.8195 21.2809L15.9311 21.8666L17.0427 20.7918L16.6273 13.8863ZM16.0741 28.9282L29.9305 20.9282L30.9305 22.6602L17.0741 30.6602L16.0741 28.9282Z"
                                fill="#FFD03F" />
                        </svg>
                    </div>
                    <div class="challenge1">
                        <p class="p1 btn btn-success" onclick="challenge(this)">Song Challenge</p>
                    </div>
                    <div class="wining-song-detail">
                        <p class="p2">Started on</p>
                        <h6 class="p3">5 march 2021</h6>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div align='center'>
            <p class="text">You can create a new clash or participate in any of these trendy clashes</p>
        </div>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn btn-success" onclick="challenge(this)">Pop Song Challenge</p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Arlene McCoy</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
                <p class="p2">Clash till: 7 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn btn-success" onclick="challenge(this)">Dance Challenge</p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Jenny Wilson</h6>
                <p class="p2">Created on: 5 March 2021</p>
                <p class="p2">Participants: 39</p>
                <p class="p2">Clash till: 10 April 2021</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 challenge1">
                <p class="p1 btn btn-success" onclick="challenge(this)">Dog Tricks Challenge</p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h6 class="p3">Created by: Arlene McCoy</h6>
                <p class="p2">Created on: 7 March 2021</p>
                <p class="p2">Participants: 19</p>
            </div>
        </div>
        <hr>
        <div align='center'>
            <button id="b1" onclick="challenge(this)">Done</button>
        </div>
    </div>

    <%- include("../BottomNavmodule/bottomnavbar") %>
</body>

</html>