<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- GENERAL CSS -->
    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/Careermodule/post.css">
    


    <!-- CUSTOM JS -->
    <script src="/js/Careermodule/post.js"></script>

    <title><%=page%></title>
</head>
<body>
    
    <div class="head">
        <div id="backdiv">
            <i onclick="window.location.href='/links'" id="back" class="fas fa-arrow-left"></i>
        </div>

        <div id="headdiv">
            <p id="heading">posts</p>
        </div>
    </div>

    <% for(var i=0; i<5; i++){ %>
    
        <div class="post-video">
            <div class="post-details">
                <div class="play-btn" onclick="play()">
                    <img src="/img/Play.svg" alt="play">
                </div>

                <div class="rank">rank 12/20</div>
                <div class="time">0:20</div>
                <video class="post">
                    <source src="/video/sample" type="video/mp4">
                </video>

                <div class="challenge-details">
                    <div class="time-since">2h ago</div>
                    <div class="title">piano challenge</div>
                    <div class="author">Started by Jane Cooper</div>
                </div>  
                
                <div class="interaction">
                    <div class="likes">96 likes</div>
                    <div class="comments">40 comments</div>
                    <div class="participants">20 participants</div>
                </div>

            </div>
        </div>
        
    <% } %>

        

    <%- include("../BottomNavmodule/bottomnavbar")%>
</body>
</html>