.illustrations{
    position:relative;
    /* height:400px; */
    width: 100%;
}

.row{
    margin-right: 0;
}

#happyclash{
    height: auto;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.2));
}

.img-circles{
    position: relative;
    width:100%;
    padding: 4%;
    filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.2) );
}

.img-illus{
    width:100%;
    position: absolute;
    padding: 4%;
    left: 0;
}

@media only screen and (min-width:540px) and (max-width:767px){
    .img-circles{
        position: relative;
        width:65%;
        left: 50%;
        transform:translateX(-50%);
        padding: 4%;
        filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.2) );
    }

    .img-illus{
        width:65%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 4%;
        /* background-color: #6A83bc; */
    }
}

@media only screen and (min-width:768px) and (max-width:1000px){
    .img-circles{
        position: relative;
        width:47%;
        left: 50%;
        transform:translateX(-50%);
        padding: 4%;
        filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.2) );
    }

    .img-illus{
        width:47%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 4%;
        /* background-color: #6A83bc; */
    }
}

@media only screen and (min-width:1001px){
    .img-circles{
        position: relative;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 4%;
        margin-top: -1%;
        filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.2) );
    }

    .img-illus{
        width:30%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 4%;
        margin-top: -1%;
        /* background-color: #6A83bc; */
    }
}