<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <ul>
        <li>auth module
            <br>
            <ul>
                <li><a href="/">Start</a></li>
                <li> <a href="/auth/login">Login</a></li>
                <li> <a href="/auth/signup">Signup</a></li>
            </ul>
        </li>
    
        <li>Library module
            <br>
            <ul>
                <li> <a href="/library/videomodelibrary">Library video mode</a></li>
                <li> <a href="/library">Library</a> </li>
            </ul>
        </li>
        <li>Home module
            <br>
            <ul>
                <li> <a href="/home/videomode">Video Mode</a></li>
                <li> <a href="/home/homefeed">homefeed</a></li> 
                <!-- pic error in homefeef -->
                <li> <a href="/home/challenge">Challenge</a></li>
                <li> <a href="/home/songs">Songs </a>
                </li>
                <li><a href="/home/videomode">video mode private</a></li>
            </ul>
        </li>
        <li>Clash details module
            <br>
            <ul>
                <li><a href="/clashDetails">Clash Details</a></li>
                <li><a href="/clashDetails/notadmin">Clash Details(Not Admin)</a></li>
                <li><a href="/clashDetails/wheninvited">Clash Details(When Invited)</a></li>
                <li><a href="/clashDetails/public">Clash Details(Public)</a></li>
                <li><a href="/clashDetails/comments">Clash Comments</a></li>
                <li><a href="/clashDetails/profile">Profile</a></li>
                <li><a href="/clashDetails/participants">Participants</a></li>
                <li><a href="/clashDetails/reportClash">Report</a></li>
            </ul>
        </li>
        <li>Career module ?
            <br>
            <ul>
                <li>  <a href="/career/edit">Edit Career</a></li>
                <li>  <a href="/career">Career</a></li>
                <li> <a href="/career/profile">Profile</a></li>
                <li><a href="/career/notification">Notification</a></li>
                <li> <a href="/career/admincontrols">Administrator-Settings</a></li>
                <li> <a href="/career/results">Results</a></li>
            </ul>
        </li>
        <li>Create clash module
            <br>
            <ul>
            
  <li><a href="/createclash/addParticipants">Add Participants</a></li>  
  <li> <a href="/createclash/createNewClash">Create New Clash</a></li> 
            </ul>
        </li>
        <li>Search module
            <br>
            <ul>
                    <li><a href="/search">Search</a></li>
                      <li>  <a href="/search/keyword">Searchkeyword </a></li>
            </ul>
        </li>
    </ul>
 

    <br>
    general backend 
    <br>
    <a href="/upload">Upload</a>
    <a href="/video/sample">video sample</a>  


    


  

</body>

</html>