<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div style="display: flex;"> 
        <p style="color: green;">completed_</p>
        <p style="color: violet;">partially completed_</p>
        <p style="color:royalblue;">error_</p>
        <p style="color: red;">incomplete</p>
    </div>
    
    <ul>
        <li>auth module
            <br>
            <ul>
                <li><a href="/" style="color: green;">Start()</a></li>
                <li> <a href="/auth/login" style="color: green;">Login()</a></li>
                <li> <a href="/auth/signup" style="color: green;">Signup()</a></li>
                <li><a href="/auth/forget" style="color: green;">forge()t</a></li>
                <li><a href="/auth//reset/:rid/user/:userid" style="color: green;">reset(can't be accessed)()</a></li>
            </ul>
        </li>

        <li>Library module
            <br>
            <ul>
                <li> <a href="/library/videomodelibrary" style="color: green;">Library video mode/:videoid()</a></li>
                <li> <a href="/library" style="color: green;">Library()</a> </li>
            </ul>
        </li>
        <li>Home module
            <br>
            <ul>
                <li> <a href="/home/videomode" style="color: red;">Video Mode</a></li>
                <li> <a href="/home/homefeed" style="color: red;">homefeed</a></li>
                <!-- pic error in homefeef -->
                <li> <a href="/home/challenge" style="color:green;">Challenge/:clashid()</a></li>
                <li> <a href="/home/songs" style="color: red;">Songs </a>
                </li>
                <li><a href="/home/videomodeprivate" style="color: red;">video mode private</a></li>
                <li><a href="/home/selectedPlaylist" style="color: red;">Selected Playlist</a></li>
            </ul>
        </li>
        <li>Clash details module SAI
            <br>
            <ul>
                <li><a href="/clashDetails" style="color: red;">Clash Details (Friend + not admin)</a></li>
                <!-- <li><a href="/clashDetails/notadmin" style="color: red;">Clash Details(Friend + not admin)</a></li> -->
                <li><a href="/clashDetails/wheninvited" style="color: red;">Clash Details(When Invited)</a></li>
                <li><a href="/clashDetails/public" style="color: red;">Clash Details(Public)</a></li>
                <li><a href="/clashDetails/comments" style="color: red;">Clash Comments</a></li>
                <li><a href="/clashDetails/profile" style="color:green;">Profile/:userid ()</a></li>
                <li><a href="/clashDetails/participants" style="color: green;">Participants/:clashid()</a></li>
                <li><a href="/clashDetails/reportClash" style="color: green;">Report/:clashid() </a></li>
            </ul>
        </li>
        <li>Career module SAM
            <br>
            <ul>
                <li> <a href="/career/edit" style="color:violet;">Edit Career(Delete, image,other data) -> sai</a></li>
                <li> <a href="/career" style="color: green;">Career()</a></li>
                <li> <a href="/career/profile" style="color: green;">Profile()</a></li>
                <li> <a href="/career/post" style="color: green;">Post()</a></li>
                <li><a href="/career/notification" style="color: red;">Notification</a></li>
                <li> <a href="/career/admincontrols" style="color: red;">Administrator-Settings</a></li>
                <li> <a href="/career/results" style="color: red;">Results</a></li>
                <li> <a href="/career/congratulations" style="color: red;">Congratulation</a></li>
            </ul>
        </li>
        <li>Create clash module RAJ 
            <br>
            <ul>
                <li><a href="/createclash/addParticipants" style="color: green;">Add Participants</a></li>
                <li><a href="/createclash/createNewClash" style="color: green;">Create New Clash</a></li>
                <li><a href="/createclash/clashcreated" style="color: green;">Clash Created</a></li>
                <li><a href="/createclash/whocanwatch" style="color: green;">Who Can Watch</a></li>
            </ul>
        </li>
        <li>Search module SUMANT
            <br>
            <ul>
                <li><a href="/search" style="color: red;">Search</a></li>
                <li> <a href="/search/keyword" style="color: red;">Searchkeyword </a></li>
            </ul>
        </li>
    </ul>


    <br>
    general backend
    <br>
    <a href="/upload">Upload</a>
    <a href="/video/sample">video sample</a>
    <a href="/camera">camera</a>

</body>

</html>