
<%- include("./../partials/header",{page:page ? page:null}) %>


<div class="formpage">

    <div class="row" id="headdiv">
        <div class="col-3">
            <div id="backdiv" class="loginback">
                <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
            </div>
        </div>
        <div class="col-6">
            <div id="headdiv">
                <img src="/img/happyclash_logo.png" alt="" class="headicon" width="190" height="100">
            </div>
        </div>
    </div>

    <div id="subheaddiv">
        <h6 id="subheading">Discover the new Clashes</h6>
    </div>

    <div class="form-group fg-login">
        <form action="/auth/login" method="POST">

            <div class="input-group">
                <span class="input-group-addon"><i class="far fa-user"></i></span>
                <input onfocusout="displayError('username','username')" class="form-control" id="username" type="text" placeholder="Username" name="username" required>
            </div>
            <div class="error">
                <div class="username errordiv"></div>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-unlock"></i></span>
                <input onfocusout="displayError('password','password')" class="form-control" id="password" type="password" placeholder="Password" name="password" required>
            </div>
            <div class="error">
                <div class="password errordiv"></div>
            </div>

            <div id="forgotpass">
                Forgot Password?
            </div>

            <div class="formbutton">
                <button onclick="checkInputfields();" class="btn btn-dark submit loginbtn" type="submit">Login</button>
            </div>
        </form>
        <!-- <div class="alt">
            Or Connect Using
        </div>
        <div class="altOptions">
            <img class="pageicons" src="/img/google.jpg" alt="">
            <img class="pageicons" src="/img/fb.jpg" alt="">
        </div> -->
        <div class="otheroption">
            Don't have an account? <a class="otherlink" href="/auth/signup">Sign Up</a>
        </div>
    </div>
</div>

<%- include("./../partials/footer") %>
