
<%- include("../partials/header",{page:page ? page:null}) %>


<div class="formpage">

    <div class="row">
        <div class="col-3">
            <div id="backdiv">
                <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
            </div>
        </div>
        <div class="col-6">
            <div id="headdiv">
                <img src="/img/happyclash_logo.png" alt="" class="headicon" width="190" height="100">
            </div>
        </div>
    </div>

    <div id="subheaddiv">
        <h6 id="subheading">Discover the Clash World</h6>
    </div>
    <%if(err.error){%>
       <%if(err.error.keyPattern){%>
            <%if(err.error.keyPattern.email){%>
                <div class="alert alert-danger alert-dismissible fade show fade-show d-flex justify-content-center">
                    <div class="errmessage">
                        <strong>Email ID already exists!</strong>
                    </div>
                    <div class="close">
                        <i class="fas fa-times" onclick="removeMessage()"></i>
                    </div>
                </div>
            <%}else{%>
                <%if(err.error.keyValue){%>
                    <%if(err.error.keyValue.phone != null && err.error.keyValue.phone != ''){%>
                        <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center">
                            <div class="errmessage">
                                <strong>Phone No. already exists!</strong>
                            </div>
                            <div class="close">
                                <i class="fas fa-times" onclick="removeMessage()"></i>
                            </div>
                        </div>       
                    <%}%>    
                <%}%>
            <%}%>              
        <%}else{%>
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center">
                <div class="errmessage">
                    <strong>Username already exists!</strong>
                </div>
                <div class="close">
                    <i class="fas fa-times" onclick="removeMessage()"></i>
                </div>
            </div>
        <%}%>            
    <%}%>    
    

    <div class="form-group">
        <form onsubmit="return checkPasswordEquality()" class="text-center" action="/auth/signup" method="POST">
            <div class="input-group">
                <span class="input-group-addon"><i class="far fa-user icons"></i></span>
                <input onfocusout="displayError('username','username')" class="form-control" id="username" type="text" placeholder="Username" name="username" required>
            </div>
            <div class="error">
                <div class="username errordiv"></div>
            </div>
        
            <div class="input-group">
                <span class="input-group-addon"><i class="far fa-envelope icons"></i></span>
                <input onfocusout="displayError('email','email')" class="form-control" id="email" type="email" placeholder="Email" name="email" required>
            </div>
            <div class="error">
                <div class="email errordiv"></div>
            </div>
        
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-phone-alt icons"></i></span>
                <input class="form-control" id="phone" type="tel" size="10" pattern="(7|8|9){1}[0-9]{9}" placeholder="Phone" name="phone">
            </div>
            <div class="error">
                <div class="phone errordiv"></div>
            </div>
        
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-unlock icons"></i></span>
                <input onfocusout="displayError('password','password')" class="form-control" id="password" type="password" placeholder="Password" name="password" required>
                <!-- minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
                1. atleast 8 characters long
                2. atleast 1 uppercase letter
                3. atleast 1 lowercase letter
                4. atleast 1 special character" -->
            </div>
            <div class="error">
                <div class="password errordiv"></div>
            </div>
            
        
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-unlock icons"></i></span>
                <input onfocusout="displayError('confirm','confirm')" class="form-control" id="confirm" type="password" placeholder="Confirm Password" name="confirm" required>
            </div>
            <div class="error">
                <div class="confirm errordiv"></div>
            </div>

            <div class="formbutton">
                <button onclick="checkInputfields();" class="btn btn-dark submit" type="submit">Sign Up</button>
            </div>
        </form>
        <!-- <div class="alt">
            Or Connect Using
        </div>
        <div class="altOptions">
            <img class="pageicons" src="/img/google.jpg" alt="">
            <img class="pageicons" src="/img/fb.jpg" alt="">
        </div> -->
        <div class="otheroption">
            Already have an account? <a class="otherlink" href="/auth/login">Login here</a>
        </div>
    </div>


</div>

<%- include("../partials/footer") %>
