
<%- include("./../../partials/header",{page:page ? page:null}) %>


<div class="formpage ">

    <div id="backdiv">
        <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
    </div>

    <div id="headdiv">
        <h1 id="heading">Welcome Back</h1>
    </div>

    <div id="subheaddiv">
        <h6 id="subheading">Login into your already existing account</h6>
    </div>

    <div class="logininfo">
        <form action="/auth/login" method="POST">
            <div class="infodiv">
                <i class="far fa-user fieldicons"></i>
                <div>
                    <input onfocusout="displayError('username','username')" class="info" id="username" type="text" placeholder="Username" name="username" required>
                </div>
            </div>
            <div class="error">
                <div class="username errordiv"></div>
            </div>
        
            <div class="infodiv">
                <i class="fas fa-unlock fieldicons"></i>
                <div>
                    <input onfocusout="displayError('password','password')" class="info" id="password" type="password" placeholder="Password" name="password" required>
                </div>
            </div>
            <div class="error">
                <div class="password errordiv"></div>
            </div>


            <div class="formbutton">
                <button type="submit" id="submit">Login</button>
            </div>
        </form>
        <div class="alt">
            Or Connect Using
        </div>
        <div class="altOptions">
            <img class="pageicons" src="/img/google.jpg" alt="">
            <img class="pageicons" src="/img/fb.jpg" alt="">
        </div>
        <div class="otheroption">
            Don't have an account? <a class="otherlink" href="/auth/signup">Sign Up</a>
        </div>
    </div>
</div>

<%- include("./../../partials/footer") %>
