
<%- include("../../partials/header",{page:page ? page:null}) %>
<%- include("../../partials/background") %>

<div class="formpage">

    <div id="backdiv">
        <i onclick="window.location.href='/'" id="back" class="fas fa-arrow-left"></i>
    </div>

    <div id="headdiv">
        <h1 id="heading">Getting Started</h1>
    </div>

    <div id="subheaddiv">
        <h6 id="subheading">Fill the details to create an account</h6>
    </div>

    <div class="signupinfo">
        <form action="/auth/signup" method="POST">
            <div class="infodiv">
                <i class="far fa-user fieldicons"></i>
                <input onfocusout="displayError('username','username')" class="info" id="username" type="text" placeholder="Username" name="username" required>
            </div>
            <div class="error">
                <div class="username errordiv"></div>
            </div>
        
            <div class="infodiv">
                <i class="far fa-envelope fieldicons"></i>
                <input onfocusout="displayError('email','email')" class="info" id="email" type="email" placeholder="Email" name="email" required>
            </div>
            <div class="error">
                <div class="email errordiv"></div>
            </div>
        
            <div class="infodiv">
                <i class="fas fa-phone-alt fieldicons"></i>
                <input onfocusout="displayError('phone','phone')" class="info" id="phone" type="tel" size="10" pattern="(7|8|9){1}[0-9]{9}" placeholder="Phone" name="phone" required>
            </div>
            <div class="error">
                <div class="phone errordiv"></div>
            </div>
        
            <div class="infodiv">
                <i class="fas fa-unlock fieldicons"></i>
                <input onfocusout="displayError('password','password')" class="info" id="password" type="password" placeholder="Password" minlength="8" maxlength="16" size="16" pattern="^(?=.{5,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" title="Password must follow the criteria:
                1. atleast 8 characters long
                2. atleast 1 uppercase letter
                3. atleast 1 lowercase letter
                4. atleast 1 special character" name="password" required>
            </div>
            <div class="error">
                <div class="password errordiv"></div>
            </div>
        
            <div class="infodiv">
                <i class="fas fa-unlock fieldicons"></i>
                <input onfocusout="displayError('confirm','confirm')" class="info" id="confirm" type="password" placeholder="Confirm Password" name="confirm" required>
            </div>
            <div class="error">
                <div class="confirm errordiv"></div>
            </div>

            <div class="formbutton">
                <button type="submit" id="submit">Sign Up</button>
            </div>
        </form>
        <div class="alt">
            Or Connect Using
        </div>
        <div class="altOptions">
            <img class="pageicons" src="/img/google.jpg" alt="">
            <img class="pageicons" src="/img/fb.jpg" alt="">
        </div>
        <div class="otheroption">
            Already have an account? <a class="otherlink" href="/auth/login">Login here</a>
        </div>
    </div>
</div>

<%- include("../../partials/footer") %>
