@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}

.head {
    position:sticky;
    top:0px;
    background-color:white;
    text-align: center !important;
    margin: auto;
    bottom: 0.75rem;
    left: 0;
    right: 0;
    /* top: 0.75rem; */
}

#backdiv {
    margin-left: 0.8rem;
    padding: 0.2rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem !important;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    text-align: center;
    margin: 1.3rem auto;
    vertical-align: middle;
}

#heading {
    width: 65%;
    margin: 0.5rem auto;
    font-size: 2.6rem !important;
    font-family: America;
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.div1{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.challenge1{
    background-color:#228D5A;
    border: 1px solid #228D5A;
    border-radius: 9px;
}

.p1{
    color:white;
    /* margin:0px!important; */
    margin-top: 0.5rem;
    margin-bottom: 0px!important;
    text-align: center;
}
.p2{
    color:white;
    /* margin:0px!important; */
    margin-top: 0px!important;
    margin-bottom: 0.5rem;
    text-align: center;
}

.p3{
    margin: 0px!important;
    font-size: 1.3rem;
    font-family: Roboto;
}
.p4{
    display: inline;
    font-size: 0.8rem;
    font-family: Roboto;
    margin-right:1rem;
}
.p5{
    display: inline;
    font-size: 0.8rem;
    font-family: Roboto;
    margin:0px !important;
}