<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
    <!-- <link rel="stylesheet" href="/css/Profilemodule/profile.css">  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ClashDetailsmodule/ReportClash.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="head">
        <div id="backdiv">
            <img onclick="window.location.href='/clashDetails'" id="back" style="width: 20px; cursor: pointer;"
                src="/img/backarrow.png" alt="back">
        </div>

        <div id="headdiv">
            <p id="heading">Report Clash</p>
        </div>
    </div>

    <div id="textDiv">
        Why are you reporting this Clash?
    </div>

    <form action="/clashDetails/reportClash/<%= id %>" method="post" style="margin-bottom: 5em;">
        <div class="container" id="listTable">
            <table class="table table-hover" style="border-top: 1px solid #dee2e6;">
                <tbody>
                    <tr>
                        <td class="one">It's Spam</td>
                        <td><input type="checkbox" id="1" name="reason1" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="one">Bullying or Harrassment</td>
                        <td><input type="checkbox" id="2" name="reason2" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="one">Nudity or Pornography</td>
                        <td><input type="checkbox" id="3" name="reason3" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="one">Self Injury</td>
                        <td><input type="checkbox" id="4" name="reason4" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="one">Violence</td>
                        <td><input type="checkbox" id="5" name="reason5" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="one">Hate speech or symbols</td>
                        <td><input type="checkbox" id="6" name="reason6" onchange="setValue(this)" />&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bottom">
            <div class="form-group">
                <textarea class="form-control" name="message" id="Textarea1" rows="3" placeholder="Your Message" required></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary sub save">Report</button>
        </div>
    </form>
    <%- include("../BottomNavmodule/bottomnavbar") %>
    <script src="/js/ClashDetailsmodule/report.js"></script>
</body>

</html>