@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.head {
    position: fixed;
    z-index: 1;
    top:0px !important;
    background-color:white;
    text-align: center !important;
    margin: auto;
    /* margin-top:0px !important; */
    left: 0;
    right: 0;
    /* top: 0.75rem; */
}

#backdiv {
    margin-top: 1.4rem!important;
    margin-left: 1rem !important;
    padding: 0.2rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
}

#back {
    font-size: 1.5rem !important;
}

#backdiv::after {
    clear: both;
}

#headdiv {
    text-align: center;
    /* margin:0px!important; */
    margin: 1.3rem auto;
    vertical-align: middle;
    margin-bottom: 0.5rem !important;
}

#heading {
    width: 65%;
    margin: 0.5rem auto;
    font-size: 1.75rem !important;
    font-family: America;
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* margin-bottom: 0px !important; */
}

.br1{
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 0.5rem !important;
    background-color: white;
}
#p1{
    margin:0px !important;
    font-size:0.7rem !important;
    font-family: Roboto;
}

#img1{
    display: block;
    margin: auto;
    height: 5rem;
    /* text-align: center; */
}

.div1{
    padding-top: 1rem!important;
}

.rp1{
    font-size: 1rem;
    text-align: center;
    font-family: Roboto;
    color:#7A7A7A;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.rp2{
    font-size: 1.4rem !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
#p2{
    font-family: Roboto;
    font-size: 0.8rem !important;
    color:#747474;
    margin:0px;
    /* width:46px; */
    /* height: 12px; */
}

#p3{
    font-family: Roboto;
    font-size: 0.925rem;
    color:#000000;
    width:89px;
    height: 18px;
}

#div2{
    padding-left: 2rem;
}

.btn1{
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 0.5rem !important;
    background-color: white;
    margin-top: 1rem;
}

#p4{
    font-family: Roboto;
    font-size: 0.8rem!important;
    color:#747474;
    margin:0px;
}

#p5{
    margin:0px;
}

#p7{
    margin:0px;
    color:#747474;
    font-family: Roboto;
    font-size: 0.7rem;
}
#p8{
    margin:0px;
    /* color:#747474; */
    color:#000000;
    font-family: Roboto;
    font-size: 0.7rem;
}

#p9{
    margin: 0px;
    color:#747474;
    font-family: Roboto;
    font-size: 0.7rem;
    display: inline;
}

#p10{
    margin: 0px;
    color:#747474;
    font-family: Roboto;
    font-size: 0.7rem;
    display: inline;
}

.mb{
    margin-bottom: 1rem;
}

.p11{
    margin: 0px;
    color:#747474;
    font-family: Roboto;
    font-size: 0.7rem;
}

.img2{
    height: 3rem !important;
    width:3rem!important;
}

.last{
    margin-bottom: 4rem!important;
}


/* POPUP SECTION */
#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;
    position:fixed;
    opacity:0; 
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events:none;
    z-index: 5;
  }
  
#overlay.active{
    opacity:1;
    pointer-events: all;
}

.popup{
    width:500px;
    height: 350px;
    max-width:80%;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius:5px;
    background-color:white;
    z-index:10;
    overflow: hidden;
}

.popup.active{
    transform:translate(-50%, -50%) scale(1);
}

.popup-header{
    /* border-bottom:2px solid black; */
    padding: 10px 15px;
}

.title{
    font-size:1.5rem;
    font-weight:400;
    text-align: center;
    font-family: "roboto", sans-serif;
    text-transform:capitalize;
}

.title p {
    font-size:0.75rem;
    
}

.search-bar{
    border-radius: 20px;
    font-size:0.8rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.send-button{
    background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
    position: relative;
    left: 185px;
    margin: 20px 15px -10px;
    text-align: center;
    border-radius:5px;
    height:30px;
    width:60px;

}

.send-button button{
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-family: roboto, sans-serif;
    outline:none;
    background: none;
}

.close-button{
    border:none;
    position:absolute;
    right: 0;
    top: 0;
    /* padding:5px; */
    display: inline-block;
    background:none;
    outline:none;
    font-size:1.5rem;
    font-weight:bold;
}

.popup-body{
    padding: 10px 15px;
    font-size: 1.2rem;
}

.suggested{
    margin-left: 15px;
    margin-top: -10px;
    font-size: 1rem;
    font-weight: 400;
}
  
/* POPUP SECTION END */
@media only screen and (min-width:375px) and (max-width:1024px) {
    .p11{
        margin-top: 1rem;
    }
}