<%- include("../partials/header",{page:page ? page:null}) %>

<button class="btn btn-md btn-primary create" onclick="createFolder()">
    Create folder
</button>

<div class="folderList">

</div>

<%- include("../partials/footer") %>