<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        <%=page%>
    </title>
    <base href="/">
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-4 backdiv">
                <div>
                    <i onclick="window.location.href='/'" class="fas fa-arrow-left back"></i>
                </div>
            </div>
            <div class="col-4">
                <h6 class="challengeName">
                    Challenge Name
                </h6>
                <div class="challengesubtitle">
                    <p>Challenge details</p>
                </div>
            </div>
            <div class="col-4 infodiv">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="50" height="50"
                viewBox="0 0 172 172"
                style=" fill:#000000;" class="infoicon"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,6.88c-43.65603,0 -79.12,35.46397 -79.12,79.12c0,43.65603 35.46397,79.12 79.12,79.12c43.65603,0 79.12,-35.46397 79.12,-79.12c0,-43.65603 -35.46397,-79.12 -79.12,-79.12zM86,13.76c39.93779,0 72.24,32.30221 72.24,72.24c0,39.93779 -32.30221,72.24 -72.24,72.24c-39.93779,0 -72.24,-32.30221 -72.24,-72.24c0,-39.93779 32.30221,-72.24 72.24,-72.24zM86,37.84c-5.69958,0 -10.32,4.62042 -10.32,10.32c0,5.69958 4.62042,10.32 10.32,10.32c5.69958,0 10.32,-4.62042 10.32,-10.32c0,-5.69958 -4.62042,-10.32 -10.32,-10.32zM72.24,72.24v6.88h3.44h3.44v44.72h-3.44h-3.44v6.88h3.44h3.44h13.76h3.44h3.44v-6.88h-3.44h-3.44v-51.6h-3.44h-13.76z"></path></g></g></svg>
            </div>
        </div>

        <div class="videoelements">
            <video autoplay muted controls class="myvideo">
                <source src="/img/sample.mp4" type="video/mp4">
            </video>

            <div class="d-flex flex-column bd-highlight activity">
                <div class="d-flex flex-row-reverse">
                    
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="45" height="40"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;" class="activityicons"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M99.33,37.84c-1.73344,0.215 -3.02344,1.69313 -3.01,3.44v24.295c-39.60031,1.20938 -60.9525,22.17188 -71.4875,43c-10.68281,21.11031 -11.05906,41.69656 -11.0725,42.355v0.215v0.215c-0.05375,1.89469 1.43781,3.49375 3.3325,3.5475c1.89469,0.05375 3.49375,-1.43781 3.5475,-3.3325v-0.215c0.02688,-0.3225 0.79281,-10.73656 10.6425,-21.8225c9.675,-10.87094 28.55469,-21.83594 65.0375,-22.575v23.7575c0,1.31688 0.7525,2.52625 1.94844,3.10406c1.19594,0.57781 2.60688,0.41656 3.64156,-0.41656l55.04,-44.72c0.81969,-0.65844 1.29,-1.63937 1.29,-2.6875c0,-1.04812 -0.47031,-2.02906 -1.29,-2.6875l-55.04,-44.72c-0.72562,-0.59125 -1.65281,-0.86 -2.58,-0.7525zM103.2,48.4825l46.1175,37.5175l-46.1175,37.5175v-20.3175c0,-1.89469 -1.54531,-3.44 -3.44,-3.44c-40.43344,0 -62.22906,12.42969 -73.6375,25.2625c-0.43,0.48375 -0.67187,0.91375 -1.075,1.3975c1.45125,-4.73 3.35938,-9.7825 5.9125,-14.835c10.03781,-19.83375 29.19969,-39.345 68.8,-39.345c1.89469,0 3.44,-1.54531 3.44,-3.44z"></path></g></g></svg>
                        
                    </div>

                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="45" height="40"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;" class="activityicons"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,16.125v96.75h21.5v27.37891l8.73438,-7.05469l25.36328,-20.32422h51.90234v-96.75zM21.5,26.875h86v75.25h-44.84766l-1.51172,1.17578l-18.14062,14.44531v-15.62109h-21.5zM59.125,37.625v5.58496c-6.02538,1.0105 -10.75,6.25616 -10.75,12.55566c0,4.05275 2.27027,7.8092 5.96289,9.6582l15.53711,7.76856c-0.0215,1.19862 -0.85899,2.05761 -2.05761,2.05761h-6.63477c-1.19862,0 -2.05761,-0.85899 -2.05761,-2.05761v-3.31739h-10.75v3.31739c0,6.2995 4.70313,11.58715 10.75,12.59766v5.58496h10.75v-5.58496c6.04688,-1.01051 10.75,-6.29816 10.75,-12.59766c0,-4.05275 -2.31377,-7.78871 -5.9419,-9.61621l-15.5581,-7.78955c0.043,0.043 0,0.00051 0,-0.02099c0,-1.19863 0.83749,-2.01562 2.05761,-2.01562h6.63477c1.19862,0 2.05761,0.85899 2.05761,2.05761v3.31739h10.75v-3.31739c0,-6.2995 -4.70312,-11.58715 -10.75,-12.59765v-5.58496zM129,48.375v10.75h21.5v64.5h-21.5v15.62109l-19.65234,-15.62109h-40.3125l-13.4375,10.75h50.05469l34.09766,27.37891v-27.37891h21.5v-86z"></path></g></g></svg>
                    </div>
                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="45" height="40"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;" class="activityicons"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,12.8811l-4.19922,5.27002l-49.4248,61.93848h32.12402v75.7854h43v-75.7854h32.12402zM86,30.1084l31.30518,39.2312h-20.55518v75.7854h-21.5v-75.7854h-20.55518z"></path></g></g></svg>
                    </div>
                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="45" height="40"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;" class="activityicons"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M64.5,16.125v75.7854h-32.12402l53.62402,67.2085l4.19922,-5.27002l49.4248,-61.93848h-32.12402v-75.7854zM75.25,26.875h21.5v75.7854h20.55518l-31.30518,39.23121l-31.30518,-39.23121h20.55518z"></path></g></g></svg>
                    </div>
                    <div class="number">
                        <span>5</span>
                    </div>
                </div>
                <!-- <div class="progress">
                    <div class="progress-bar bg-white"></div>
                </div>
                <div class="videoicons">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 172 172"
                        style=" fill:#000000;" class="pause">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path d="M53.75,32.25v107.5h10.75v-107.5zM107.5,32.25v107.5h10.75v-107.5z"></path>
                            </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
                        style=" fill:#000000;" class="play">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M40.8374,14.73226c-8.21402,0.32497 -15.75407,7.02638 -15.75407,16.05501v110.42546c0,12.03818 13.41155,19.93655 23.94255,14.10238l99.64746,-55.21273c10.83399,-6.00312 10.83399,-22.20164 0,-28.20475l-99.64746,-55.21273c-2.63275,-1.45854 -5.45047,-2.06096 -8.18848,-1.95264zM40.96338,25.32129c0.92662,-0.00398 1.89789,0.23623 2.84847,0.76286l99.65446,55.21273c3.93651,2.18122 3.93651,7.22503 0,9.40625l-99.65446,55.21273c-3.80233,2.10649 -7.97851,-0.3583 -7.97851,-4.70312v-110.42546c0,-2.17241 1.04171,-3.87066 2.56152,-4.76611c0.75991,-0.44773 1.6419,-0.69589 2.56852,-0.69987z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </div> -->
            </div>


        </div>


    </div>


</body>

</html>