@import url("../Bgmodule/background.css");


@font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
}

body {
    background-attachment: scroll !important;
    touch-action: manipulation !important;
    overflow-x: hidden !important;
}

.pageimgsdiv {
    position: relative;
    top: 0; /**/
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: auto;
}

.pageimgs {
    margin: 0.9rem auto;
    width: 100%;/**/
    height: 100%;/**/
}

#happyclashdiv {
    position: absolute;
    top: 17% !important;
    width: 100% !important;
    height: auto;
    text-align: center !important;
    margin: auto !important;
    z-index: 10;
}

#happyclash {
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
}

.formpage {
    width: 100%;
    text-align: center;
    margin: auto;
    bottom: 0.75rem;
    left: 0;
    right: 0;
    top: 58%;
}

.happyclashdiv {
    text-align: center;
    margin: 1.35rem auto;
    margin-bottom: 1.85rem !important;
}

.happyclash {
    width: 15rem !important;
    height: auto;
}

hr {
    background-color: #DEDEDE;
}

.subheaddiv {
    width: 85% !important;
    text-align: center !important;
    margin: 1.2rem auto !important;
}

.col-6 {
    border: 0.8px solid #DEDEDE !important;
    text-align: center !important;
}

.hcinfodiv {
    width: 85% !important;
    text-align: center !important;
    margin: auto !important;
}

.subheading {
    font-size: 1.35rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.pagecontent {
    font-size: 0.85rem !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.contenticons {
    margin: 0.5rem auto !important;
}

.formbuttondiv {
    margin: 1.7rem !important;
}

.formbutton {
    text-align: center;
    margin: 1rem auto !important;
    margin-bottom: 1rem;
}

.formbutton:focus {
    outline: none;
}

.submit {
    margin: 1rem auto;
    padding: 0.22rem 3.5rem;
    font-size: 0.8rem;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    background: linear-gradient(81.23deg, #7C49F6 9.3%, #FF53B7 51.61%, #FFD458 97.6%);
    color: white !important;
    border-radius: 0.25rem !important;
    border: none;
    outline: none;
}

.submit:focus {
    outline: none !important;
}

.submit:hover {
    cursor: pointer !important;
}

div#collagediv {
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    margin: 1.2rem auto;
    left: 0;
    right: 0;
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

div#collagediv::-webkit-scrollbar {
    display: none;
}

.collage {
    width: 200%;
    height: 100%;
    transform-origin: 50% 50% -500px;
}

.likediv {
    text-align: right;
    margin: 1rem auto !important;
}

.giftdiv {
    margin: 1rem auto !important;
}

.heartdiv {
    text-align: left;
    margin: 1rem auto !important;
}

.firstline {
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: bolder;
    font-style: normal;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: auto;
    margin-top: 2.5rem !important;
}

.secondline {
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: bolder;
    font-style: normal;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: auto;
}

.thirdline {
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: bolder;
    font-style: normal;
    background: linear-gradient(180deg, #7C49F6 0%, #E55ABD 47.92%, #FEDF67 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: auto;
}

.downloadapp {
    margin: 2rem auto !important;
}

@media only screen and (max-width:250px),
       only screen and (max-height:400px) {
    body {
        background-size: 170%;
        background-position-y: -50px;
    }

    .formpage {
        top: 58%;
    }

    #happyclashdiv {
        top: 21.5% !important;
    }
}

@media only screen and (max-width:250px),
       only screen and (max-height:350px) {
    body {
        background-size: 170%;
        background-position-y: -50px;
    }

    .formpage {
        top: 58%;
    }

    #happyclashdiv {
        top: 29% !important;
    }

    #happyclash {
        width: 4.7rem;
        height: 4.7rem;
    }
}

@media only screen and (min-width:251px) and (max-width:500px) {
    body {
        background-size: 150%;
        background-position-y: -69px;
    }

    .pageimgs {
        width: 94%;/**/
        height: 90%;/**/
    }

    .formpage {
        top: 56%;
    }

    #happyclashdiv {
        top: 18.5% !important;
    }

    #happyclash {
        width: 5.7rem;
        height: 5.7rem;
    }
}

@media only screen and (min-width:251px) and (max-width:300px) and (min-height:600px) {
    #happyclashdiv {
        top: 16% !important;
    }

    #happyclash {
        width: 5.2rem;
        height: 5.2rem;
    }
}

@media only screen and (min-width: 300px) and (max-height: 600px) {
    #happyclashdiv {
        top: 22% !important;
    }
}

@media only screen and (min-width: 325px) and (max-width: 365px) {
    #happyclashdiv {
        top: 20% !important;
    }
}

@media only screen and (min-width: 325px) and (max-width: 370px) and (min-height: 600px) {
    #happyclashdiv {
        top: 20% !important;
    }
}

@media only screen and (min-width: 365px) and (max-width: 400px) {
    #happyclashdiv {
        top: 22% !important;
    }
}

/* @media only screen and (min-width: 364px) and (max-width: 400px) and (min-width:750px) {
    #happyclashdiv {
        top: 19% !important;
    }
} */

@media only screen and (min-width: 400px) {
    #happyclashdiv {
        top: 23.5% !important;
    }

    #happyclash {
        width: 6.6rem;
        height: 6.6rem;
    }
}

@media only screen and (min-width: 400px) and (min-height:750px) {
    #happyclashdiv {
        top: 20% !important;
    }

    #happyclash {
        width: 6.6rem;
        height: 6.6rem;
    }
}

@media only screen and (min-width:501px) and (max-width:650px) {
    body {
        background-size: 90%;
        background-position-y: -50px;
    }

    .pageimgs {
        width: 60%;/**/
        height: 60%;/**/
    }

    .formpage {
        top: 45%;
    }

    #happyclashdiv {
        top: 15% !important;
        /**/
    }

    #happyclash {
        width: 6rem !important;
        height: 6rem !important;
    }
}

@media only screen and (min-width:501px) and (max-width:650px) and (max-height: 400px) {

    #happyclashdiv {
        top: 24% !important;
        /**/
    }

    #happyclash {
        width: 4.4rem !important;
        height: 4.4rem !important;
    }
}

@media only screen and (min-width:501px) and (max-width:650px) and (max-height: 800px) {

    #happyclashdiv {
        top: 17.5% !important;
        /**/
    }

    #happyclash {
        width: 5.9rem !important;
        height: 5.9rem !important;
    }
}

@media only screen and (min-width:651px) and (max-width:1000px) {
    body {
        background-size: 65%;
        background-position-y: -40px;
    }

    .pageimgs {
        width: 47%;/**/
        height: 47%;/**/
    }

    .formpage {
        top: 34%;
    }

    #happyclashdiv {
        top: 12% !important;
        /**/
    }

    #happyclash {
        width: 6.75rem !important;
        height: 6.75rem !important;
    }
}

@media only screen and (min-width:750px) {
    .collage {
        width: 85%;
        height: 100%;
    }

    #happyclashdiv {
        top: 14.5% !important;
        /**/
    }

    #happyclash {
        width: 6.6rem !important;
        height: 6.6rem !important;
    }
}

@media only screen and (min-width:750px) and (min-height:1100px) {

    #happyclashdiv {
        top: 12% !important;
        /**/
    }

    #happyclash {
        width: 6.6rem !important;
        height: 6.6rem !important;
    }
}

@media only screen and (min-width:600px) and (max-height:400px) {
    body {
        background-size: 50%;
        background-position-y: -40px;
    }

    .pageimgs {
        width: 35%;/**/
        height: 35%;/**/
    }

    .formpage {
        top: 45%;
    }

    #happyclashdiv {
        top: 22% !important;
        /**/
    }

    #happyclash {
        width: 4.6rem !important;
        height: 4.6rem !important;
    }
}

@media only screen and (min-width:1001px) {
    body {
        background-size: 45%;
        background-position-y: -80px;
    }

    .pageimgs {
        width: 32%;/**/
        height: 32%;/**/
    }

    .formpage {
        top: 40%;
    }

    .happyclash {
        width: 20%;
    }

    #happyclashdiv {
        top: 20% !important;
    }

    #happyclash {
        width: 7rem !important;
        height: 7rem !important;
    }
}

@media only screen and (min-width:1001px) and (min-height:850px) and (max-height: 1100px) {

    #happyclashdiv {
        top: 17% !important;
    }

    #happyclash {
        width: 7rem !important;
        height: 7rem !important;
    }
}

@media only screen and (min-width:1001px) and (min-height:1101px) {

    #happyclashdiv {
        top: 9% !important;
    }

    #happyclash {
        width: 6.6rem !important;
        height: 6.6rem !important;
    }
}

@media only screen and (min-width:1300px) and (min-height:850px) {

    #happyclashdiv {
        top: 20% !important;
    }
}

@media only screen and (max-width:250px) and (max-height:400px) {
    #heading {
        font-size: 1.7rem;
    }
    
    .subheading {
        font-size: smaller;
    }

    .submit {
        padding: 0.1rem 1.75rem;
    }

    .formbutton {
        margin: 1.2rem auto;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width:500px) {
    #headdiv {
        text-align: center;
        margin: 0.7rem auto;
    }

    #heading {
        font-size: 2.35rem;
    }

    .formbutton {
        text-align: center;
        margin: 1.65rem auto;
        margin-bottom: 0.6rem;
    }

    .submit {
        padding: 0.4rem 2.6rem;
        background-color: black;
        color: white;
        border-radius: 5rem;
        white-space: normal;
    }
}

@media only screen and (min-width:375px) and (max-width: 376px) and (min-height:800px) {

    #happyclashdiv {
        top: 19% !important;
    }
}