/* @font-face {
    font-family: America;
    src: url('/font-family/America.ttf');
} */

body {
  background-color: black !important;
}

.container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.previousdiv {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.previousvideo {
  left: 50%;
  margin: 0.7rem auto;
}

.allicons:hover {
  cursor: pointer;
}

video {
  object-fit: fill;
}

.row {
  margin-top: 1.4rem;
}

.backdiv {
  width: 100%;
  text-align: left !important;
}

.back {
  color: white;
  font-size: 1.75rem;
}

.challengediv {
  width: 100%;
}

.challengeName {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  background: linear-gradient(90deg, #7c49f6 0%, #e55abd 47%, #fedf67 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.55rem;
  margin: 0.25rem auto;
  margin-bottom: 0.25rem !important;
  width: max-content;
}

.videoRank {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 0.65rem;
  margin: 0.25rem auto;
  margin-bottom: 0rem !important;
}

.challengesubtitle {
  font-family: Roboto;
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 0.7rem;
}

.infodiv {
  position: absolute;
  right: 15px;
  top: 24px;
  z-index: 3;
}

svg.infoicon {
  margin-top: 0 !important;
  max-width: 1.3rem !important;
  padding-bottom: 0.6rem !important;
  color: white;
}

.myvideo {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}

@media only screen and (max-width: 550px) {
  .myvideo {
    width: 100%;
  }
}

.videoelements {
  position: relative;
}

.activity {
  position: fixed;
  width: 50%;
  text-align: right;
  transform: translateY(-80%);
  top: 80%;
  padding: 0.2rem !important;
  right: 0.75rem;
}

.number {
  padding: 1rem !important;
  padding-right: 0.7rem !important;
  font-size: small;
  color: white;
}

.joinclashdiv {
  position: fixed;
  bottom: 17.8%;
  left: 3.2%;
  text-align: center;
}

.joinicon {
  font-size: 0.7rem;
}

.joinclashtxt {
  font-weight: bolder;
  font-size: 0.75rem;
  margin-top:-8px;
  color: white;
}

.activityicons {
  max-width: 2rem !important;
  color: white !important;
  margin-bottom: 1.9rem;
}

.embedicons {
  position: fixed;
  bottom: 3%;
  text-align: center;
  margin: auto !important;
  width: 90%;
  left: 5% !important;
  right: 5% !important;
}

.videoicons {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}

.pause {
  background-color: linear-gradient(
    180deg,
    #fee16b 0%,
    #e660b8 53.12%,
    #7749f8 100%
  );
  margin: auto 0.35rem;
  font-size: 1.3rem;
  display: none;
}

.play {
  background-color: linear-gradient(
    180deg,
    #fee16b 0%,
    #e660b8 53.12%,
    #7749f8 100%
  );
  margin: auto 0.35rem;
  font-size: 1.3rem;
}

.nextdiv {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.nextvideo {
  left: 50%;
  margin: 0.7rem auto;
}


/* POPUP CSS BEGINS */

#overlay {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
}

#overlay.active{
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: all; 
  opacity: 1;
  transition: 250ms ease-in-out;
}

.popup{
  width:90%;
  font-family: "Roboto", sans-serif;
  padding:2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  background-color:white;
  z-index: 10;
  border-radius:6px;
}

@media only screen and (min-width: 500px) {
  .popup {
    width: 415px;
  }
}

.popup.active{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(1);
  transition: 250ms ease-in-out;
}

.popup-header .close-btn{
  display: block;
  position: relative;
  bottom:5px;
  right:5px;
  font-size:1.3rem;
  font-weight: bold;
  text-align: right;

}

.popup-header .title{
  position: relative;
  bottom:12px;
  text-align:center;
}

.popup-body{
  text-align:center;
}
.popup-body strong{
  font-size: 23px;
}
.popup-body .bttn{
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  border-radius:6px;
  font-size:14px;
  width: 63px;
  background: none;
  outline: none;
  border: none;
}

.popup-body .yes-no{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 28px auto 10px auto;
}
/* POPUP CSS ENDS */