#search{
    padding-top: 2%;
    padding-left: 30%;
}
/* .ch{
    margin-top: 5%;
} */

.navbar {
    overflow: hidden;
    background-color:gray;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* height: 40px; */
    /* margin-top: 40px; */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .header img {
    float: left !important;
    width: 50px!important;
    height: 50px;
    background: #555;
  }
  
  .header h2 {
    position: relative;
    top: 18px;
    left: 10px;
  }

.jcc{
  text-align:center;
}
  

  #bor{

    box-shadow: gray;
  }


.pl{
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.w{
  max-width: 100px;
  /* text-align:center; */
  /* display: inline; */
  vertical-align:middle;
}
/* 
.viddiv {
  width: 100%;
  text-align: center !important;
  margin: auto !important;
} */

.vid{
  text-align: center;
  width: 80%;
  height: 41vh;
  min-height: 100%;
  margin: auto 2rem !important;
}

#bc{
  background-image: linear-gradient(to right,rgba(66, 134, 214, 0.9),rgba(89, 191, 248, 0.3));
  border:1px solid rgba(89, 191, 248, 0.3);
  border-radius: 10px;
  margin-left:20px;
}

#cb{
  /* background-color:blue; */
  background-image: linear-gradient(to right,rgba(228, 77, 77, 0.9),rgba(255, 137, 137, 0.3));
  border:1px solid rgba(255, 137, 137, 0.3);
  border-radius: 10px;
  margin-left:20px;
}

#br{
  max-width: 30px;
  max-height: 30px;
  /* align-self: right; */
  display: inline;
}

.fontsize{
  font-size: 10px;
}

#car1{
  margin-left:10px;
  /* padding-right: 0px !important; */
}