<div data-select= ".selected" onclick="select(this)" class="row">
    <div class="col-3">
        <img src="/img/profile2.png" alt="profile pic" class="suggested-profile">
    </div>
    <div class="col-6">
        <div class="user-info">
            <p>User Name</p>
            <p class="user-email" >User email</p>
        </div>
    </div>
    <div class="col-3 selected"">
        <i class="far fa-check-square"></i>
    </div>
</div>